/* Fluid Typography */
.node-type-article-post .pane-node-title-field,
.node-type-panopoly-news-article .pane-node-title-field,
.node-type-panopoly-faq .pane-node-title-field,
.node-type-panopoly-page .pane-node-title-field {
  text-align: center;
}

.node-type-article-post .pane-node-title-field .field__item > *,
.node-type-panopoly-news-article .pane-node-title-field .field__item > *,
.node-type-panopoly-faq .pane-node-title-field .field__item > *,
.node-type-panopoly-page .pane-node-title-field .field__item > * {
  margin-top: 0;
}

.node-type-article-post .field--name-field-featured-image,
.node-type-panopoly-news-article .field--name-field-featured-image,
.node-type-panopoly-faq .field--name-field-featured-image,
.node-type-panopoly-page .field--name-field-featured-image {
  width: 100%;
}

@media (min-width: 481px) {
  .node-type-article-post .field--name-field-featured-image,
  .node-type-panopoly-news-article .field--name-field-featured-image,
  .node-type-panopoly-faq .field--name-field-featured-image,
  .node-type-panopoly-page .field--name-field-featured-image {
    margin: 0 1em 1em 0;
    width: 50%;
    float: left;
  }
}

.node-type-article-post .field--name-field-featured-image img,
.node-type-panopoly-news-article .field--name-field-featured-image img,
.node-type-panopoly-faq .field--name-field-featured-image img,
.node-type-panopoly-page .field--name-field-featured-image img {
  max-width: 100%;
  min-width: 0;
  height: auto;
  width: 100%;
}

.node-type-article-post .field--name-field-categories,
.node-type-panopoly-news-article .field--name-field-categories,
.node-type-panopoly-faq .field--name-field-categories,
.node-type-panopoly-page .field--name-field-categories {
  margin-top: 1em;
  font-weight: bold;
}

.node-type-article-post .row,
.node-type-panopoly-news-article .row,
.node-type-panopoly-faq .row,
.node-type-panopoly-page .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0 1em;
}

.node-type-article-post .radix-layouts-content,
.node-type-panopoly-news-article .radix-layouts-content,
.node-type-panopoly-faq .radix-layouts-content,
.node-type-panopoly-page .radix-layouts-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  padding: 0;
}

@media (min-width: 848px) {
  .node-type-article-post .radix-layouts-content,
  .node-type-panopoly-news-article .radix-layouts-content,
  .node-type-panopoly-faq .radix-layouts-content,
  .node-type-panopoly-page .radix-layouts-content {
    -webkit-box-flex: 3;
        -ms-flex: 3 0 560px;
            flex: 3 0 560px;
    min-width: 560px;
    padding: 0.5em;
  }
}

.node-type-article-post .radix-layouts-sidebar,
.node-type-panopoly-news-article .radix-layouts-sidebar,
.node-type-panopoly-faq .radix-layouts-sidebar,
.node-type-panopoly-page .radix-layouts-sidebar {
  -webkit-box-flex: 1;
      -ms-flex: 1 300px;
          flex: 1 300px;
  min-width: 300px;
  padding: 0;
}

@media (min-width: 848px) {
  .node-type-article-post .radix-layouts-sidebar,
  .node-type-panopoly-news-article .radix-layouts-sidebar,
  .node-type-panopoly-faq .radix-layouts-sidebar,
  .node-type-panopoly-page .radix-layouts-sidebar {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 250px;
            flex: 1 1 250px;
    padding: 0.5em;
  }
}

.node-type-article-post .radix-layouts-sidebar .boxed,
.node-type-panopoly-news-article .radix-layouts-sidebar .boxed,
.node-type-panopoly-faq .radix-layouts-sidebar .boxed,
.node-type-panopoly-page .radix-layouts-sidebar .boxed {
  padding-top: 2em;
}

.node-type-article-post .radix-layouts-sidebar .pane-card-cycles-card-slideshow,
.node-type-panopoly-news-article .radix-layouts-sidebar .pane-card-cycles-card-slideshow,
.node-type-panopoly-faq .radix-layouts-sidebar .pane-card-cycles-card-slideshow,
.node-type-panopoly-page .radix-layouts-sidebar .pane-card-cycles-card-slideshow {
  margin-top: 0.5em;
}

.node-type-article-post .radix-layouts-sidebar .boxed,
.node-type-panopoly-news-article .radix-layouts-sidebar .boxed,
.node-type-panopoly-faq .radix-layouts-sidebar .boxed,
.node-type-panopoly-page .radix-layouts-sidebar .boxed {
  padding-top: 1em;
}

.node-type-article-post .radix-layouts-sidebar .boxed .pane-title,
.node-type-panopoly-news-article .radix-layouts-sidebar .boxed .pane-title,
.node-type-panopoly-faq .radix-layouts-sidebar .boxed .pane-title,
.node-type-panopoly-page .radix-layouts-sidebar .boxed .pane-title {
  position: static;
  margin-bottom: 0.5em;
  margin-top: 0;
}

.node-type-article-post .radix-layouts-sidebar .views-slideshow-cycle-main-frame-row-item.boxed,
.node-type-panopoly-news-article .radix-layouts-sidebar .views-slideshow-cycle-main-frame-row-item.boxed,
.node-type-panopoly-faq .radix-layouts-sidebar .views-slideshow-cycle-main-frame-row-item.boxed,
.node-type-panopoly-page .radix-layouts-sidebar .views-slideshow-cycle-main-frame-row-item.boxed {
  padding-top: 2em;
}

.pane-news2-panel-pane-5 .view-content,
.pane-articles2-panel-pane-5 .view-content,
.pane-panopoly-faq-panel-pane-6 .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.pane-news2-panel-pane-5 .views-row,
.pane-articles2-panel-pane-5 .views-row,
.pane-panopoly-faq-panel-pane-6 .views-row {
  display: inline-block;
  vertical-align: top;
  width: 230px;
  margin-right: 10px;
  margin-bottom: 0.5em;
  -webkit-box-flex: 1;
      -ms-flex: 1 240px;
          flex: 1 240px;
}

.pane-news2-panel-pane-5 .views-field-field-featured-image,
.pane-articles2-panel-pane-5 .views-field-field-featured-image,
.pane-panopoly-faq-panel-pane-6 .views-field-field-featured-image {
  float: left;
  margin-right: 10px;
}

.pane-news2-panel-pane-5 .views-field-published-at,
.pane-articles2-panel-pane-5 .views-field-published-at,
.pane-panopoly-faq-panel-pane-6 .views-field-published-at {
  font-size: 0.8em;
}
/*# sourceMappingURL=articles_news_faq_nodes.css.map */