/* Fluid Typography */
.node-type-press-release.panelized-node.logged-in .field--name-field-basic-text-text h1 {
  margin-bottom: 0;
}

.node-type-press-release.panelized-node h1.page-title {
  text-align: center;
}

.node-type-press-release.panelized-node .view-related-news .views-row {
  display: inline-block;
  width: 100%;
  margin-bottom: 1em;
}

.node-type-press-release.panelized-node .view-related-news .views-field-field-featured-image {
  float: left;
  margin-right: 1em;
}

@media (min-width: 1024px) {
  .node-type-press-release.panelized-node .panel-col-right {
    max-width: 24%;
  }
}

.node-type-press-release.panelized-node .boxed {
  background-color: white;
}

.node-type-press-release.panelized-node .boxed .pane-title {
  position: static;
  padding: 0;
  margin-bottom: 0.5em;
}

.node-type-press-release.panelized-node .pane-page-actions {
  text-align: center;
}

.node-type-press-release.panelized-node .pane-page-actions .action-links {
  display: inline-block;
  padding: 0;
}

.node-type-press-release.panelized-node .content-main {
  max-width: 960px;
  background: #FFF;
  margin: 1em auto;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  padding: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.node-type-press-release.panelized-node .content-main:before, .node-type-press-release.panelized-node .content-main:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  border-radius: 100px / 10px;
}

.node-type-press-release.panelized-node .pane-node-field-immediate-release h4,
.node-type-press-release.panelized-node .contact-title h4 {
  margin: 0;
}

.node-type-press-release.panelized-node .pane-node-field-upload-document {
  text-align: center;
}

.node-type-press-release.panelized-node .pane-node-field-upload-document .field--name-field-upload-document {
  display: inline-block;
}

.node-type-press-release.panelized-node .field--name-field-pr-about {
  margin: 2em 0;
}

.node-type-press-release.panelized-node .field--name-field-full-contact-details {
  margin: 2em 0;
  text-align: center;
}

.node-type-press-release.panelized-node .field--name-field-full-contact-details h4 {
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.node-type-press-release.panelized-node .field--name-field-full-contact-details h4:after {
  content: '\00a0';
}

.node-type-press-release.panelized-node .field--name-field-featured-image {
  width: 100%;
}

@media (min-width: 481px) {
  .node-type-press-release.panelized-node .field--name-field-featured-image {
    margin: 0 1em 1em 0;
    width: 50%;
    float: left;
  }
}

.node-type-press-release.panelized-node .field--name-field-featured-image img {
  width: 100%;
}

.node-type-press-release.panelized-node .field--name-field-contact-website .field__item {
  word-break: break-word;
}

.node-type-press-release.panelized-node .pane-node-title-field h1 {
  line-height: 1.5;
  text-align: center;
}

.node-type-press-release.panelized-node .pane-node-links {
  text-align: center;
}

.node-type-press-release.panelized-node .pane-node-links .links {
  display: inline-block;
}

.pane-press-releases2-panel-pane-5 .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.pane-press-releases2-panel-pane-5 .views-row {
  display: inline-block;
  vertical-align: top;
  width: 230px;
  margin-right: 10px;
  margin-bottom: 0.5em;
  -webkit-box-flex: 1;
      -ms-flex: 1 240px;
          flex: 1 240px;
}

.pane-press-releases2-panel-pane-5 .views-field-field-featured-image {
  float: left;
  margin-right: 10px;
}

.pane-press-releases2-panel-pane-5 .views-field-published-at {
  font-size: 0.8em;
}
/*# sourceMappingURL=press_release_nodes.css.map */