/* Fluid Typography */
.node-type-testimonial-audio #content .radix-selby-flipped .col-md-8 {
  background-color: white;
  border-color: #cccccc;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  padding: 1em;
  margin: 0 1em 1em 1em;
}

@media (min-width: 992px) {
  .node-type-testimonial-audio #content .radix-selby-flipped .col-md-8 {
    width: calc(66.66666666666666% - 2em);
  }
}

.node-type-testimonial-audio #content .radix-selby-flipped .col-md-8 > .row:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.node-type-testimonial-audio .pane-node-title {
  text-align: center;
}

.node-type-testimonial-audio .pane-node-field-audio-testimonial {
  margin: 1em 0;
  text-align: center;
}

.node-type-testimonial-audio .field--name-field-image-testimonial img,
.node-type-testimonial-audio .field--name-field-audio-testimonial audio {
  max-width: 100%;
}

.node-type-testimonial-written #content .radix-bryant-flipped .radix-layouts-content {
  background-color: white;
  border-color: #cccccc;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  padding: 1em;
  margin: 0 1em 1em 1em;
}

@media (min-width: 992px) {
  .node-type-testimonial-written #content .radix-bryant-flipped .radix-layouts-content {
    width: calc(75% - 2em);
  }
}

.node-type-testimonial-written #content .radix-bryant-flipped .radix-layouts-content .pane-node-title {
  text-align: center;
}

.node-type-testimonial-image #content .radix-bryant-flipped .radix-layouts-content {
  background-color: white;
  border-color: #cccccc;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  padding: 1em;
  margin: 0 1em 1em 1em;
}

@media (min-width: 992px) {
  .node-type-testimonial-image #content .radix-bryant-flipped .radix-layouts-content {
    width: calc(75% - 2em);
  }
}

.node-type-testimonial-image #content .radix-bryant-flipped .radix-layouts-content .pane-node-title {
  text-align: center;
}

.node-type-testimonial-image .pane-node-field-image-testimonial {
  float: none;
  margin: 1em 0;
  text-align: center;
  width: 100%;
  max-width: 100%;
  z-index: 1;
}

@media (min-width: 720px) {
  .node-type-testimonial-image .pane-node-field-image-testimonial {
    float: left;
    margin: 1em 1em 0 0;
    width: auto;
  }
}

.node-type-testimonial-image .pane-node-field-image-testimonial .field--name-field-image-testimonial img {
  max-width: 480px;
  margin: auto;
}

.node-type-testimonial-video #content .radix-bryant-flipped .radix-layouts-content {
  background-color: white;
  border-color: #cccccc;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  padding: 1em;
  margin: 0 1em 1em 1em;
}

@media (min-width: 992px) {
  .node-type-testimonial-video #content .radix-bryant-flipped .radix-layouts-content {
    width: calc(75% - 2em);
  }
}

.node-type-testimonial-video #content .radix-bryant-flipped .radix-layouts-content .pane-node-title {
  text-align: center;
}

.node-type-testimonial-video .pane-node-field-video-testimonial {
  float: none;
  margin: 1em 0;
  text-align: center;
  width: 100%;
  max-width: 100%;
  z-index: 1;
}

@media (min-width: 720px) {
  .node-type-testimonial-video .pane-node-field-video-testimonial {
    float: left;
    margin: 1em 1em 0 0;
    max-width: 480px;
  }
}

.node-type-testimonial-video .pane-node-field-video-testimonial .field--name-field-video-testimonial {
  max-width: 480px;
  margin: auto;
}

.node-type-testimonial-video .pane-node-field-video-testimonial .file-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.node-type-testimonial-video .pane-node-field-video-testimonial .file-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=testimonial-nodes.css.map */