/* Fluid Typography */
.view-card-cycles {
  position: relative;
}

.view-card-cycles .vscc-controls {
  text-align: center;
}

.view-card-cycles .vscc_controls_pause {
  display: inline-block;
}

.view-card-cycles .views-slideshow-controls-top {
  position: absolute;
  top: 7px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.view-card-cycles .views-slideshow-cycle-main-frame,
.view-card-cycles .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
}

.view-card-cycles .views-slideshow-cycle-main-frame-row-item {
  padding-top: 2em;
  text-align: center;
  margin: 0;
}

.view-card-cycles div.field-type-asin {
  border: 0px;
}

.view-card-cycles .field--name-field-amazon-book-listing img {
  width: 150px;
  height: auto;
}

.view-display-id-card_slideshow .vscc-controls,
.view-display-id-card_slideshow_clone .vscc-controls {
  text-align: center;
}

.view-display-id-card_slideshow .vscc_controls_pause,
.view-display-id-card_slideshow_clone .vscc_controls_pause {
  display: inline-block;
}

.view-display-id-card_slideshow .views-slideshow-controls-top,
.view-display-id-card_slideshow_clone .views-slideshow-controls-top {
  position: absolute;
  top: 7px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.view-display-id-card_slideshow .views-slideshow-cycle-main-frame,
.view-display-id-card_slideshow .views-slideshow-cycle-main-frame-row,
.view-display-id-card_slideshow_clone .views-slideshow-cycle-main-frame,
.view-display-id-card_slideshow_clone .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
}

.view-display-id-card_slideshow .views-slideshow-cycle-main-frame-row-item,
.view-display-id-card_slideshow_clone .views-slideshow-cycle-main-frame-row-item {
  padding-top: 2em;
  text-align: center;
  margin: 0;
}

.view-display-id-card_slideshow div.field-type-asin,
.view-display-id-card_slideshow_clone div.field-type-asin {
  border: 0px;
}

.view-display-id-card_slideshow .field--name-field-amazon-book-listing img,
.view-display-id-card_slideshow_clone .field--name-field-amazon-book-listing img {
  width: 150px;
  height: auto;
}

.view-display-id-card_slideshow .file-video iframe,
.view-display-id-card_slideshow_clone .file-video iframe {
  max-width: 100%;
}

.pane-card-cycles-card-slideshow-clone {
  width: 100%;
  max-width: 350px;
  margin: auto;
}

.pane-card-cycles-card-blog .view-content {
  display: flex;
  flex-flow: row wrap;
}

.pane-card-cycles-card-blog .view-content .views-slideshow-cycle-main-frame-row {
  display: flex;
  flex-flow: row wrap;
}

.pane-card-cycles-card-blog .view-content .views-row {
  flex: 1 30%;
  margin: 0.5em;
  padding: 0;
  text-align: center;
}

@media (min-width: 375px) {
  .pane-card-cycles-card-blog .view-content .views-row {
    min-width: 300px;
    flex: 1 1 300px;
  }
}

.pane-card-cycles-card-blog .view-content .views-row .panel-display {
  padding: 0;
}

.pane-card-cycles-card-blog .view-content .views-row .panel-flexible {
  padding: 1em;
}

.pane-card-cycles-card-blog .view-content .views-row h2 {
  margin: 0.5em 0 0 0;
  text-align: center;
}

.pane-card-cycles-card-blog .view-content .views-row h3 {
  margin: 0 0 0.5em 0;
  text-align: center;
}

.pane-card-cycles-card-blog .view-content .views-row .col-1, .pane-card-cycles-card-blog .view-content .views-row .col-2 {
  width: 100%;
}

.pane-card-cycles-card-blog .view-content .views-row .col-1 {
  padding: 1em;
  text-align: center;
}

.pane-card-cycles-card-blog .view-content .views-row .col-2 {
  padding: 0 1em 1em 1em;
}

.pane-card-cycles-card-blog .view-content .views-row .pane-node-field-card-image {
  text-align: center;
}

.pane-card-cycles-card-blog .view-content .views-row .field--name-field-amazon-book-listing {
  text-align: center;
}
/*# sourceMappingURL=view_card_cycles.css.map */