/* No files to import found in variables/* */
/* Fluid Typography */
html {
  color: #222;
}

body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

h1 {
  border-bottom: 1px solid #d6dd89;
  clear: left;
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, Trebuchet MS, sans-serif;
  font-size: 183.3%;
  /* 22px/12px */
  font-weight: normal;
  line-height: 120%;
  margin-bottom: 5px;
  margin-top: 0;
}

h2 {
  border-bottom: 1px solid #d6dd89;
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, Trebuchet MS, sans-serif;
  font-size: 133.3%;
  /* 16px/12px */
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 0;
}

h2 a:hover,
h2 a:focus,
h2 a:active {
  color: #619cbe;
  text-decoration: none;
}

h1 {
  text-transform: none;
  font-weight: 700;
  border-bottom: none;
  font-size: 24px;
}
@media screen and (min-width: 400px) {
  h1 {
    font-size: calc(24px + 8 * ((100vw - 400px) / 800));
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  text-transform: none;
  border-bottom: none;
  font-size: 22px;
}
@media screen and (min-width: 400px) {
  h2 {
    font-size: calc(20px + 6 * ((100vw - 400px) / 800));
  }
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 26px;
  }
}

h3 {
  font-size: 14px;
}
@media screen and (min-width: 400px) {
  h3 {
    font-size: calc(14px + 4 * ((100vw - 400px) / 800));
  }
}
@media screen and (min-width: 1200px) {
  h3 {
    font-size: 18px;
  }
}

h4 {
  font-size: 12px;
}
@media screen and (min-width: 400px) {
  h4 {
    font-size: calc(14px + 2 * ((100vw - 400px) / 800));
  }
}
@media screen and (min-width: 1200px) {
  h4 {
    font-size: 16px;
  }
}

h5 {
  font-size: 10px;
}
@media screen and (min-width: 400px) {
  h5 {
    font-size: calc(10px + 4 * ((100vw - 400px) / 800));
  }
}
@media screen and (min-width: 1200px) {
  h5 {
    font-size: 14px;
  }
}

h6 {
  font-size: 9px;
}
@media screen and (min-width: 400px) {
  h6 {
    font-size: calc(9px + 3 * ((100vw - 400px) / 800));
  }
}
@media screen and (min-width: 1200px) {
  h6 {
    font-size: 12px;
  }
}

p {
  font-size: 13px;
}
@media screen and (min-width: 400px) {
  p {
    font-size: calc(13px + 5 * ((100vw - 400px) / 800));
  }
}
@media screen and (min-width: 1200px) {
  p {
    font-size: 18px;
  }
}

/* Default link styles - separate a:visited for a different visited
link style */
a,
a:link,
a:visited {
  color: #0370bb;
  text-decoration: none;
  word-wrap: break-word;
}

/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

/* Lists */
ul {
  margin: 0 0 10px 20px;
}

ul.menu,
ul.item-list,
ul.pager,
ul.links {
  margin-left: 0;
  padding-left: 1em;
}

ol {
  margin: 0 0 10px 40px;
  overflow: auto;
}

ul ul,
ol ol {
  margin: 5px 0 5px 10px;
}

ul li {
  list-style: none;
  list-style-image: none;
  margin-bottom: 5px;
  padding: 0;
}

blockquote p {
  font-style: italic;
  margin: 0;
  padding: 8px 20px;
}

blockquote {
  background: url(/skins/acquia_marina_default/images/close-quote.png) no-repeat 100% 100%;
  /* LTR */
  color: #5a6a78;
  margin: 10px 0;
}

blockquote p:first-child {
  background: url(/skins/acquia_marina_default/images/open-quote.png) no-repeat 0 100%;
  /* LTR */
  padding: 0 0 0 20px;
  /* LTR */
}

blockquote * > :first-child {
  background: transparent;
  padding: 0;
}

blockquote a:link {
  text-decoration: underline;
}

hr {
  border: 1px solid #d6dd89;
}

/* @end basic typography*/
/* @group Layout elements & regions */
.page-inner {
  border: 0;
  margin-bottom: 0;
  padding: 0;
}

.header-inner,
#main-content,
.footer-inner {
  max-width: 1200px;
  margin: 0 1em;
}
@media (min-width: 1220px) {
  .header-inner,
  #main-content,
  .footer-inner {
    margin: auto;
  }
}

#page {
  background-color: #f2fbd2;
  background-image: linear-gradient(#f2fbd2, #f5f7e7);
  flex: 1;
}

#content.page-content {
  clear: both;
  margin: 0 0 1em 0;
}

/* @group Blocks, panels & all regions
/-------------------------------------------------------------- */
.ie7 .block {
  position: relative;
}

.boxed, .page-admin #content {
  background-color: white;
  border-color: #cccccc;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  padding: 1em;
  margin: .5em 0;
}

div.breadcrumb {
  flex: 1 100%;
}
div.breadcrumb a {
  color: white;
  line-height: 30px;
  display: inline-block;
}

ul.breadcrumb {
  margin: 0;
  padding: 0;
}
ul.breadcrumb li {
  color: white;
  line-height: 30px;
  display: inline-block;
  margin-bottom: 0;
}
ul.breadcrumb li a:hover {
  text-decoration: underline !important;
}

#branding {
  background-color: #2f76a5;
  background: linear-gradient(#2f76a5, #144a6e);
  color: #fff;
  min-height: 30px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  font-size: 90%;
}
#branding a {
  color: white;
  text-decoration: none;
}
#branding .limiter {
  width: 100%;
  max-width: 1200px;
  margin: 0 2em;
  display: flex;
}
@media (min-width: 1220px) {
  #branding .limiter {
    margin: auto;
  }
}

#main-content {
  padding-top: 1em;
}

#console {
  clear: both;
}

#page-title {
  text-align: center;
  font-weight: 700;
}
#page-title h1.page-title {
  margin-top: 0;
  text-transform: capitalize;
  border-bottom: 0;
  margin-bottom: 0em;
  font-size: 24px;
}
@media screen and (min-width: 400px) {
  #page-title h1.page-title {
    font-size: calc(24px + 8 * ((100vw - 400px) / 800));
  }
}
@media screen and (min-width: 1200px) {
  #page-title h1.page-title {
    font-size: 32px;
  }
}

.field.field--name-title-field h1 {
  text-transform: capitalize;
  border-bottom: 1px solid #d6dd89;
  font-weight: 700;
  font-size: 24px;
}
@media screen and (min-width: 400px) {
  .field.field--name-title-field h1 {
    font-size: calc(24px + 8 * ((100vw - 400px) / 800));
  }
}
@media screen and (min-width: 1200px) {
  .field.field--name-title-field h1 {
    font-size: 32px;
  }
}

.views-ui-display-tab-bucket .advanced-help-link {
  float: left;
}

.ctools-button ul li {
  margin: 0;
}

#views-display-menu-tabs li input {
  color: initial;
  font-weight: normal;
  text-transform: none;
  font-size: 13px;
}

h2.pane-title {
  text-transform: capitalize;
  border-bottom: 1px solid #d6dd89;
  font-size: 22px;
}
@media screen and (min-width: 400px) {
  h2.pane-title {
    font-size: calc(20px + 6 * ((100vw - 400px) / 800));
  }
}
@media screen and (min-width: 1200px) {
  h2.pane-title {
    font-size: 26px;
  }
}

.vbo-views-form p, .view-empty p {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: red;
  clear: both;
  border: 1px solid #CCCCCC;
  padding: 1em;
  display: inline-block;
  width: 66%;
  background: white;
}

#footer {
  border-top: 3px solid #a7cf38;
  font-size: 10px;
}
@media screen and (min-width: 400px) {
  #footer {
    font-size: calc(10px + 4 * ((100vw - 400px) / 800));
  }
}
@media screen and (min-width: 1200px) {
  #footer {
    font-size: 14px;
  }
}
#footer:before {
  content: '';
  height: 30px;
  display: block;
  background-color: #2f76a5;
  background: linear-gradient(#2f76a5, #144a6e);
}

.copyright p {
  text-align: center;
  margin-bottom: 0;
  font-size: 10px;
}
@media screen and (min-width: 400px) {
  .copyright p {
    font-size: calc(10px + 4 * ((100vw - 400px) / 800));
  }
}
@media screen and (min-width: 1200px) {
  .copyright p {
    font-size: 14px;
  }
}

.pane-menu-menu-footer-links ul.menu {
  text-align: center;
}
.pane-menu-menu-footer-links ul.menu li {
  display: inline-block;
  margin-right: 0.5em;
}
.pane-menu-menu-footer-links ul.menu li a {
  text-decoration: none;
}

form input.form-submit {
  background-color: #286e9b;
  /* old browsers */
  background-image: linear-gradient(top, #4186b5 0%, #286e9b 50%, #4186b5 100%);
  /* w3c */
  color: #fff;
  cursor: pointer;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  /* 12px/12px */
  font-weight: bold;
  margin: 0 4px;
  padding: 2px 4px;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
}

.g-recaptcha {
  display: table;
  margin: auto;
}

/* all IEs */
.ie form input.form-submit {
  background: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#286e9b, endColorstr=#4186b5, GradientType=0);
  position: relative;
  /* Required to enable cleartype in IE when using filter */
  zoom: 1;
}

/* IE8 */
.ie8 form input.form-submit {
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#286e9b, endColorstr=#4186b5, GradientType=0);
}

/* Hover style for form buttons */
form input.form-submit:hover,
form input.form-submit.hover,
form input.form-submit:focus {
  background-color: #4186b5;
  /* old browsers */
  background-image: linear-gradient(top, #286e9b 0%, #4186b5 50%, #286e9b 100%);
  /* w3c */
  /* opera */
  /* webkit */
  background-image: -moz-linear-gradient(top, #286e9b 0%, #4186b5 50%, #286e9b 100%);
  /* firefox */
  cursor: pointer;
}

/* all IEs */
.ie form input.form-submit:hover,
.ie form input.form-submit.hover,
.ie form input.form-submit:focus {
  background: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4186b5, endColorstr=#286e9b, GradientType=0);
  position: relative;
  /* Required to enable cleartype in IE when using filter */
  zoom: 1;
}

/* IE8 */
.ie8 form input.form-submit:hover,
.ie8 form input.form-submit.hover,
.ie8 form input.form-submit:focus {
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4186b5, endColorstr=#286e9b, GradientType=0);
}

/* Typography, background, borders, padding for form fields */
.form-item input,
.form-item select,
.form-item textarea {
  background-color: #f4f8fb;
  /* old browsers */
  background-image: linear-gradient(top, #f4f8fb 0%, #fafcfb 100%);
  /* w3c */
  /* opera */
  /* webkit */
  background-image: -moz-linear-gradient(top, #f4f8fb 0%, #fafcfb 100%);
  /* firefox */
  border: 1px solid #9babb0;
  color: #666;
  padding: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* all IEs */
.ie .form-item input,
.ie .form-item select,
.ie .form-item textarea {
  background: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f4f8fb, endColorstr=#fafcfb, GradientType=0);
  position: relative;
  /* Required to enable cleartype in IE when using filter */
  zoom: 1;
}

/* IE8 */
.ie8 .form-item input,
.ie8 .form-item select,
.ie8 .form-item textarea {
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f4f8fb, endColorstr=#fafcfb, GradientType=0);
}

/* Remove backgrounds and border on radios and checkboxes */
.form-item .form-radio,
.form-item .form-checkbox {
  background: none;
  border: none !important;
}

/* Fieldset wrapper around groups of form elements -- add border here */
fieldset {
  border: 1px solid #9babb0;
  margin: 15px 0;
  padding: 10px;
}

/* Typography and spacing for legend of fieldsets */
fieldset legend {
  font-weight: bold;
}

/* Link style for legend of fieldsets */
fieldset legend,
legend.collapse-processed,
legend.collapse-processed a:link,
legend.collapse-processed a:visited {
  font-weight: bold;
}

/* @end forms*/
/* @group Header top region
/-------------------------------------------------------------- */
#header {
  background: #fff;
  border-bottom: 3px solid #a7ce38;
  padding-top: 10px;
}

#mini-panel-header .center-wrapper {
  display: flex;
  justify-content: center;
}
#mini-panel-header .inside {
  margin: 0;
}
#mini-panel-header .panel-col-first, #mini-panel-header .panel-col-last {
  flex: 0;
  width: auto;
  padding: 0 1vw;
}
#mini-panel-header .panel-col {
  flex: 0;
  width: auto;
}
@media (min-width: 721px) {
  #mini-panel-header .panel-col {
    flex: 1;
  }
}
#mini-panel-header .panel-col-last .pane-widgets-s-socialmedia-share-default {
  width: 70px;
}
#mini-panel-header .panel-col-bottom .pane-widgets-s-socialmedia-share-default {
  text-align: center;
}
#mini-panel-header .panel-col-bottom .pane-widgets-s-socialmedia-share-default a img {
  min-width: 25px;
  width: 4.4vw;
}
@media (min-width: 586px) {
  #mini-panel-header .panel-col-bottom {
    margin-top: calc(-6% + 1em);
  }
}
@media (min-width: 720px) {
  #mini-panel-header .panel-col-bottom {
    margin-top: 0;
  }
}

/* @end header top*/
/* Wrapper around logo, site name, and slogan */
#logo {
  float: left;
  margin: 0 15px 0 0;
}

#logo img {
  height: 81px;
}
@media (min-width: 450px) {
  #logo img {
    height: 18vw;
  }
}
@media (min-width: 768px) {
  #logo img {
    height: 119px;
  }
}
@media (min-width: 960px) {
  #logo img {
    height: 170px;
  }
}
@media (min-width: 1200px) {
  #logo img {
    height: 192px;
  }
}

.pane-page-site-name {
  display: inline-block;
}
.pane-page-site-name > a {
  font-size: 45px;
  width: 100%;
  margin-left: -42px;
  line-height: 1;
  text-decoration: none;
  color: #a7cf38;
  text-shadow: #7b7b7b -3px 0px 1px;
  font-weight: normal;
}
@media (min-width: 400px) {
  .pane-page-site-name > a {
    white-space: nowrap;
  }
}
@media (min-width: 450px) {
  .pane-page-site-name > a {
    font-size: 10vw;
    margin-left: -8.5vw;
  }
}
@media screen and (min-width: 718px) {
  .pane-page-site-name > a {
    font-size: calc(71px + 5 * ((100vw - 718px) / 49));
  }
}
@media screen and (min-width: 767px) {
  .pane-page-site-name > a {
    font-size: 76px;
  }
}
@media (min-width: 768px) {
  .pane-page-site-name > a {
    font-size: 72px;
    margin-left: -60px;
  }
}
@media (min-width: 960px) {
  .pane-page-site-name > a {
    font-size: 98px;
    margin-left: -77px;
  }
}
@media (min-width: 1200px) {
  .pane-page-site-name > a {
    font-size: 116px;
    margin-left: -90px;
  }
}

/* Typography for site slogan */
.pane-page-slogan {
  display: inline-block;
  line-height: 1.3;
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, Trebuchet MS, sans-serif;
  font-weight: bold;
  color: #444;
  width: calc(100% + 95.45px);
  margin-left: -95.45px;
  text-align: center;
  font-size: 14px;
}
@media screen and (min-width: 400px) {
  .pane-page-slogan {
    font-size: calc(14px + 16 * ((100vw - 400px) / 800));
  }
}
@media screen and (min-width: 1200px) {
  .pane-page-slogan {
    font-size: 30px;
  }
}
@media (min-width: 400px) {
  .pane-page-slogan {
    width: 100%;
    margin-left: 0;
    text-align: left;
  }
}

#header-group-inner {
  padding: 20px 0 0 0;
}

#block-panels-mini-header {
  margin-bottom: 0;
}

#header.sticky-header {
  display: block;
  position: fixed;
  background: white;
  z-index: 100;
  box-shadow: 0px 2px 8px 1px rgba(80, 80, 80, 0.7);
  left: 0;
  top: 0;
  width: 100%;
  min-height: 0;
}
#header.sticky-header > .block-content {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  position: relative;
  box-sizing: border-box;
}
#header.sticky-header #mini-panel-header {
  width: 100%;
}
#header.sticky-header .panel-col-top,
#header.sticky-header .panel-col-bottom {
  display: none;
}
#header.sticky-header .panel-col-first,
#header.sticky-header .panel-col-last {
  display: none;
}
#header.sticky-header .panel-col {
  text-align: center;
  width: 100%;
  flex: 1;
}
#header.sticky-header .pane-page-slogan {
  display: none;
}
#header.sticky-header .pane-page-site-name {
  vertical-align: middle;
}
#header.sticky-header .pane-page-site-name a {
  display: none;
  font-size: 36px;
  text-indent: 0;
  letter-spacing: normal;
  line-height: 1.3;
  margin-left: 0;
  margin-right: 0.5em;
  text-shadow: #7b7b7b -2px 0px 1px;
}
@media (min-width: 502px) {
  #header.sticky-header .pane-page-site-name a {
    display: inline-block;
  }
}
#header.sticky-header .pane-widgets-s-socialmedia-share-default {
  display: inline-block;
  vertical-align: middle;
}
#header.sticky-header .pane-widgets-s-socialmedia-share-default img {
  width: 4vw;
  max-width: 28px;
  min-width: 25px;
}
#header.sticky-header .pane-page-logo {
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 502px) {
  #header.sticky-header .pane-page-logo {
    display: none;
  }
}
#header.sticky-header #logo {
  float: none;
  display: inline-block;
  margin-right: 0;
}
#header.sticky-header #logo img {
  vertical-align: baseline;
  width: 35px;
  height: 35px;
}
#header.sticky-header #superfish-1 {
  text-align: center;
}
#header.sticky-header #superfish-1 li.sf-depth-1 {
  display: inline-block;
  float: none;
}

#block-superfish-1 {
  display: flex;
}
#block-superfish-1 .block__content {
  width: 100%;
}

#superfish-1 li a {
  color: #154b70;
  text-decoration: none;
}
#superfish-1 li a:hover {
  color: #fff;
}
#superfish-1 li.sf-depth-1 {
  background: transparent;
  display: block;
  float: left;
  margin: 0 4px 0 0;
  padding: 0;
  position: relative;
  line-height: 24px;
  border-radius: 5px 5px 0 0;
}
#superfish-1 li.sf-depth-1.sfHover > ul {
  top: 37px;
}
#superfish-1 a.sf-depth-1 {
  background-color: #e1e1e1;
  border: none;
  display: block;
  padding: 5px 10px 1px 10px;
  border-radius: 5px 5px 0 0;
  line-height: 24px;
}
#superfish-1 a.sf-depth-1:hover, #superfish-1 a.sf-depth-1.active {
  background-color: #b5ee48;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b5ee48), color-stop(40%, #95cf1a), to(#95cf1a));
  color: #fff;
}
#superfish-1 li.sfHover > a {
  background-color: #b5ee48;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b5ee48), color-stop(40%, #95cf1a), to(#95cf1a));
  color: #fff;
}
#superfish-1 li.sfHover > ul {
  padding: 0 8px 9px 0 !important;
  background: #97d023;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 91.7%;
  margin-top: -4px;
  position: absolute;
  text-align: left;
  text-transform: none;
  z-index: 2;
  -webkit-filter: opacity(0.95);
          filter: opacity(0.95);
  border-radius: 0 0 5px 5px;
  overflow: visible !important;
  left: 0;
  top: 4px;
}
#superfish-1 li.sfHover > ul li a {
  background: #98d022;
  padding: 5px 10px 1px 10px;
}

ul.sf-menu {
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, Trebuchet MS, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}
@media screen and (min-width: 400px) {
  ul.sf-menu {
    font-size: calc(14px + 4 * ((100vw - 400px) / 318));
  }
}
@media screen and (min-width: 718px) {
  ul.sf-menu {
    font-size: 18px;
  }
}

a.menuparent:after {
  content: '\f0da';
  margin-left: 0.5em;
  font-family: FontAwesome;
  line-height: 1;
}

a.menuparent.sf-depth-1:after {
  content: '\f0d7';
}

.sf-sub-indicator {
  display: none;
}

/* @group Vertical Superfish */
.superfish-vertical {
  position: relative;
  z-index: 10;
}

ul.sf-vertical {
  background: #fafafa;
  margin: 0;
}

ul.sf-vertical li {
  padding: 0;
  border-bottom: 1px solid #ccc;
  line-height: 200%;
  /* 24px */
  font-weight: bold;
  list-style: none;
  list-style-type: none;
  list-style-image: none;
}

ul.sf-vertical li a:link,
ul.sf-vertical li a:visited,
ul.sf-vertical li .nolink {
  margin-left: 10px;
  padding: 2px;
}

ul.sf-vertical li a:hover,
ul.sf-vertical li a.active {
  text-decoration: underline;
}

ul.sf-vertical li ul {
  background: #fafafa;
  border-top: 1px solid #ccc;
  margin-left: 0;
}

ul.sf-vertical li ul li.last {
  border-top: 1px solid #ccc;
  margin-bottom: -1px;
  margin-top: -1px;
}

ul.sf-vertical li ul {
  border-top: none;
  padding: 4px 0;
}

ul.sf-vertical li ul li {
  border-bottom: none;
  line-height: 150%;
  /* 24px */
}

ul.sf-vertical li ul li.last {
  border-top: none;
}

ul.sf-vertical li ul li ul {
  margin-top: -4px;
}

#superfish-1-toggle {
  border: 0;
  display: block;
  text-align: center;
  background-color: #008db0;
  color: white;
  border-radius: 10px;
  line-height: 1.5;
  padding: 0.25em 1em;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 0.5em;
  font-size: 14px;
}
@media screen and (min-width: 400px) {
  #superfish-1-toggle {
    font-size: calc(14px + 4 * ((100vw - 400px) / 318));
  }
}
@media screen and (min-width: 718px) {
  #superfish-1-toggle {
    font-size: 18px;
  }
}
#superfish-1-toggle.sf-expanded {
  background-color: #7bc;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0;
}
#superfish-1-toggle:hover {
  background-color: #7bc;
}

#superfish-1-accordion {
  border: 1px solid #689a04;
  border-top: 0px;
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1em;
}
#superfish-1-accordion li {
  background-color: white;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
#superfish-1-accordion li.active-trail, #superfish-1-accordion li.active-trail:nth-child(even) {
  background-color: #00728e;
}
#superfish-1-accordion li.active-trail > a, #superfish-1-accordion li.active-trail:nth-child(even) > a {
  color: white;
}
#superfish-1-accordion li.active-trail > a:hover, #superfish-1-accordion li.active-trail:nth-child(even) > a:hover {
  background-color: #00728e;
}
#superfish-1-accordion li.menuparent > a.menuparent:after {
  content: "\f0da";
  font-family: "FontAwesome";
}
#superfish-1-accordion li.menuparent.sf-expanded > a.menuparent {
  font-weight: normal;
}
#superfish-1-accordion li.menuparent.sf-expanded > a.menuparent:after {
  content: "\f0d7";
  font-family: "FontAwesome";
}
#superfish-1-accordion li.menuparent > ul {
  padding-left: 10px;
  box-sizing: border-box;
}
#superfish-1-accordion li:nth-child(even) {
  background-color: #e6e6e6;
}
#superfish-1-accordion li a {
  border: 0px;
  color: black;
  padding-left: 34px;
  background: inherit;
  border-radius: 0;
  line-height: 24px;
  text-decoration: none;
  padding: 5px 10px 1px 10px;
}
#superfish-1-accordion li a:hover {
  background: #e9efcc;
}
#superfish-1-accordion li a:focus {
  background: initial;
}
#superfish-1-accordion > li.last {
  border-radius: 0 0 10px 10px;
}
#superfish-1-accordion > li.last.sf-expanded a {
  border-radius: 0;
}
#superfish-1-accordion > li.last > a, #superfish-1-accordion > li.last .last, #superfish-1-accordion > li.last .last > a {
  border-radius: 0 0 10px 10px;
}

/* @end vertical superfish*/
ul.secondary-menu {
  margin: 0;
}
ul.secondary-menu li {
  margin: 0;
}
ul.secondary-menu li a {
  white-space: nowrap;
  line-height: 30px;
}

/* Error that appears when a required form field is not filled out */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #aa1144;
}

/* Required field */
.marker,
.form-required {
  color: #aa1144;
}

table.update {
  margin-bottom: 10px;
}

table.update tr td {
  padding: 2px;
}

table.update tr.error td {
  background-color: #edd9be;
}

table.update table.version td.version-links ul {
  margin: 0;
}

table.update table.version td.version-links ul li {
  padding: 0 0 0 1em;
}

table.update tr.ok td {
  background-color: #e3ecc0;
}

table.update tr.warning td {
  background-color: #ffc;
}

table.update tr.warning .project a:link,
table.update tr.warning .project a:visited,
.version-status .not-current {
  color: #900;
}

div.messages {
  background: #fffce3;
  border: 2px solid #eed300;
  color: #c28e00;
  font-weight: normal;
  font-size: 14px;
  margin: 20px 0pt;
  padding: 10px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.messages.messages--status {
  border: 3px solid #8DC478;
  font-weight: normal;
  margin: 0.75em 0;
  padding: 7px 7px 7px 21px;
  background-color: #EAF8E4;
  color: #3E642F;
}

div.messages ul {
  list-style-position: inside;
}
div.messages ul li {
  list-style: disc;
  margin-bottom: 0;
}

div.messages em {
  color: #656c9b;
}

div.error {
  background-color: #fff2f2;
  border-color: #f00;
  color: #b20000;
}

.inner ul.pager {
  margin-left: 0;
}

.inner ul.pager li {
  background: transparent;
  margin: 0 2px;
  padding: 0;
}

.inner ul.pager li a:link,
.inner ul.pager li a:visited,
.inner ul.pager li.pager-current {
  background: #fdffef;
  border-color: #266996;
  color: #27638c;
  font-weight: bold;
  font-size: 108.3%;
  /* 13px/12px */
  padding: 5px 10px;
}

.inner ul.pager li.pager-current {
  background-color: #d9dbcd;
  color: #000;
  display: block-inline;
  padding: 5px 10px;
}

.ie6 .inner ul.pager li.pager-current,
.ie7 .inner ul.pager li.pager-current {
  margin-right: 2px;
  padding-right: 3px;
}

.inner ul.pager li a:hover,
.inner ul.pager li a:active,
.inner ul.pager li a:focus {
  background-color: #eaefcb;
  border-color: #266996;
  color: #27638c;
}

.pane-views-pager {
  text-align: center;
}
.pane-views-pager ul.pager {
  margin: auto;
}

ul.pager {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  display: table;
  margin: auto;
  margin-top: 1em;
  padding: 0;
}
ul.pager .pager__item {
  background: #eee;
  float: left;
  margin-bottom: 0;
}
ul.pager .pager__item:first-child {
  border-radius: 5px 0 0 5px;
}
ul.pager .pager__item:last-child {
  border-radius: 0 5px 5px 0;
}
ul.pager .pager__item.pager__item--current {
  background: #007bcb;
  color: white;
}
ul.pager .pager__item.pager__item--current:hover {
  color: black;
}
ul.pager .pager__item:hover {
  background: white;
}
ul.pager .pager__item a, ul.pager .pager__item a:visited {
  color: black;
}

.sidebar-content ul.pager {
  display: block;
  border: 0;
}

/* Body of tables */
table {
  width: 100%;
}

tbody {
  border-top: 1px solid #ccc;
}

/* Header of tables */
thead th,
th {
  border-bottom: 3px solid #ccc;
}

tbody th {
  border-bottom: 1px solid #ccc;
}

/* Alternating row background styles */
tr.even,
tr.even td {
  background-color: #e3ecc0;
  border-bottom: 1px solid #ccc;
}

tr.odd,
tr.odd td {
  background-color: #fdffef;
  border-bottom: 1px solid #ccc;
}

tr.drag td,
tr.drag-previous td {
  color: #000;
}

td {
  padding: 3px;
}

.action-links {
  float: left;
}
.action-links li {
  display: inline-block;
}

.secondary-menu .tabs {
  float: right;
}

.tabs--primary {
  padding: 0 10px;
  clear: both;
  margin-bottom: 10px;
}
.tabs--primary li {
  border-style: none;
  display: inline;
  float: left;
  list-style: none;
  margin: 0 10px;
  padding: 0;
}
.tabs--primary li a {
  background-color: transparent;
  border-bottom: 4px solid transparent;
  float: left;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-decoration: none;
  white-space: nowrap;
  color: #27638c;
  font-size: 108.3%;
  text-transform: uppercase;
}
.tabs--primary li a:hover, .tabs--primary li a:focus, .tabs--primary li a.active {
  border-bottom: 4px solid #94ce18;
  color: #4a95c8;
  background-color: transparent;
}

.tabs--secondary,
.tabs.secondary:not(#views-display-menu-tabs) {
  clear: both;
  border-bottom: 1px solid #555;
  margin-bottom: 10px;
  text-transform: lowercase;
}
.tabs--secondary li,
.tabs.secondary:not(#views-display-menu-tabs) li {
  margin: 0 10px;
  padding: 0;
}
.tabs--secondary li a,
.tabs.secondary:not(#views-display-menu-tabs) li a {
  background-color: transparent;
  border: none;
  color: #555;
  float: left;
  font-weight: bold;
  margin: 0;
  padding: 0 0 6px 0;
  text-decoration: none;
  white-space: nowrap;
}
.tabs--secondary li a:hover, .tabs--secondary li a:focus, .tabs--secondary li a.active,
.tabs.secondary:not(#views-display-menu-tabs) li a:hover,
.tabs.secondary:not(#views-display-menu-tabs) li a:focus,
.tabs.secondary:not(#views-display-menu-tabs) li a.active {
  border-bottom: 4px solid #555;
  color: #777;
  padding-bottom: 2px;
  background: transparent;
}

.tabs.secondary:not(#views-display-menu-tabs) {
  float: right;
  display: inline-flex;
  flex-flow: row wrap;
  padding: 0;
  margin-top: 0.5em;
}

/*# sourceMappingURL=wwm-marina-omega.styles.css.map */