/* No files to import found in variables/* */
/* No files to import found in abstractions/* */
body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0; }

h1 {
  border-bottom: 1px solid #d6dd89;
  clear: left;
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, Trebuchet MS, sans-serif;
  font-size: 183.3%;
  /* 22px/12px */
  font-weight: normal;
  line-height: 120%;
  margin-bottom: 5px; }

h2 {
  border-bottom: 1px solid #d6dd89;
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, Trebuchet MS, sans-serif;
  font-size: 133.3%;
  /* 16px/12px */
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px; }

h2 a:hover,
h2 a:focus,
h2 a:active {
  color: #619cbe;
  text-decoration: none; }

/* Default link styles - separate a:visited for a different visited
link style */
a,
a:link,
a:visited {
  color: #0637fb; }

/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover,
a:focus,
a:active {
  text-decoration: underline; }

/* Lists */
ul {
  margin: 0 0 10px 20px; }

ul.menu,
ul.item-list,
ul.pager,
ul.links {
  margin-left: 0; }

ol {
  margin: 0 0 10px 40px; }

ul ul,
ol ol {
  margin: 5px 0 5px 10px; }

ul li {
  list-style: none;
  list-style-image: none;
  margin-bottom: 5px;
  padding: 0; }

.action-links li {
  display: inline-block; }

blockquote p {
  font-style: italic;
  margin: 0;
  padding: 8px 20px; }

blockquote {
  background: url(/skins/acquia_marina_default/images/close-quote.png) no-repeat 100% 100%;
  /* LTR */
  color: #5a6a78;
  margin: 10px 0; }

blockquote p:first-child {
  background: url(/skins/acquia_marina_default/images/open-quote.png) no-repeat 0 100%;
  /* LTR */
  padding: 0 0 0 20px;
  /* LTR */ }

blockquote * > :first-child {
  background: transparent;
  padding: 0; }

blockquote a:link {
  text-decoration: underline; }

hr {
  border: 1px solid #d6dd89; }

/* @end basic typography*/
/* @group Layout elements & regions */
html {
  background: #f4f7e7;
  color: #444; }

.page-inner {
  border: 0;
  margin-bottom: 0;
  padding: 0; }

.header-inner,
#main-content,
.footer-inner {
  max-width: 1200px;
  margin: auto; }

/* @group Blocks, panels & all regions
/-------------------------------------------------------------- */
.ie7 .block {
  position: relative; }

div.breadcrumb {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%; }
  div.breadcrumb a {
    color: white;
    line-height: 30px;
    display: inline-block; }

ul.breadcrumb {
  margin: 0;
  padding: 0; }
  ul.breadcrumb li {
    color: white;
    line-height: 30px;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 1em; }

#branding {
  background-color: #2f76a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#2f76a5), to(#144a6e));
  background: linear-gradient(#2f76a5, #144a6e);
  color: #fff;
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  font-size: 90%; }
  #branding a {
    color: white;
    text-decoration: none; }
  #branding .limiter {
    width: 100%;
    margin: 0 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.copyright p {
  text-align: center;
  margin-bottom: 0; }

.pane-menu-menu-footer-links ul.menu {
  text-align: center; }
  .pane-menu-menu-footer-links ul.menu li {
    display: inline-block;
    margin-right: 0.5em; }

form input.form-submit {
  background-color: #286e9b;
  /* old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4186b5), color-stop(50%, #286e9b), to(#4186b5));
  background-image: linear-gradient(top, #4186b5 0%, #286e9b 50%, #4186b5 100%);
  /* w3c */
  color: #fff;
  cursor: pointer;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  /* 12px/12px */
  font-weight: bold;
  margin: 0 4px;
  padding: 2px 4px;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px; }

form#user-login,
form#user-pass {
  border: 1px solid #27638c;
  padding: 1em;
  border-radius: 5px;
  margin-top: 1em;
  background: white; }
  form#user-login .form-item-name,
  form#user-login .form-item-pass,
  form#user-pass .form-item-name,
  form#user-pass .form-item-pass {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
    form#user-login .form-item-name label,
    form#user-login .form-item-pass label,
    form#user-pass .form-item-name label,
    form#user-pass .form-item-pass label {
      -webkit-box-flex: 0;
          -ms-flex: 0 auto;
              flex: 0 auto;
      width: 115px; }
    form#user-login .form-item-name input,
    form#user-login .form-item-pass input,
    form#user-pass .form-item-name input,
    form#user-pass .form-item-pass input {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      width: calc(100% - 115px); }
    form#user-login .form-item-name .description,
    form#user-login .form-item-pass .description,
    form#user-pass .form-item-name .description,
    form#user-pass .form-item-pass .description {
      -webkit-box-flex: 100%;
          -ms-flex: 100%;
              flex: 100%; }
  form#user-login .form-actions,
  form#user-pass .form-actions {
    text-align: center;
    margin-bottom: 0; }

form#user-pass .form-item-name label {
  width: 280px; }

.g-recaptcha {
  display: table;
  margin: auto; }

/* all IEs */
.ie form input.form-submit {
  background: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#286e9b, endColorstr=#4186b5, GradientType=0);
  position: relative;
  /* Required to enable cleartype in IE when using filter */
  zoom: 1; }

/* IE8 */
.ie8 form input.form-submit {
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#286e9b, endColorstr=#4186b5, GradientType=0); }

/* Hover style for form buttons */
form input.form-submit:hover,
form input.form-submit.hover,
form input.form-submit:focus {
  background-color: #4186b5;
  /* old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#286e9b), color-stop(50%, #4186b5), to(#286e9b));
  background-image: linear-gradient(top, #286e9b 0%, #4186b5 50%, #286e9b 100%);
  /* w3c */
  /* opera */
  /* webkit */
  background-image: -moz-linear-gradient(top, #286e9b 0%, #4186b5 50%, #286e9b 100%);
  /* firefox */
  cursor: pointer; }

/* all IEs */
.ie form input.form-submit:hover,
.ie form input.form-submit.hover,
.ie form input.form-submit:focus {
  background: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4186b5, endColorstr=#286e9b, GradientType=0);
  position: relative;
  /* Required to enable cleartype in IE when using filter */
  zoom: 1; }

/* IE8 */
.ie8 form input.form-submit:hover,
.ie8 form input.form-submit.hover,
.ie8 form input.form-submit:focus {
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4186b5, endColorstr=#286e9b, GradientType=0); }

/* Typography, background, borders, padding for form fields */
.form-item input,
.form-item select,
.form-item textarea {
  background-color: #f4f8fb;
  /* old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f8fb), to(#fafcfb));
  background-image: linear-gradient(top, #f4f8fb 0%, #fafcfb 100%);
  /* w3c */
  /* opera */
  /* webkit */
  background-image: -moz-linear-gradient(top, #f4f8fb 0%, #fafcfb 100%);
  /* firefox */
  border: 1px solid #9babb0;
  color: #666;
  padding: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }

/* all IEs */
.ie .form-item input,
.ie .form-item select,
.ie .form-item textarea {
  background: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f4f8fb, endColorstr=#fafcfb, GradientType=0);
  position: relative;
  /* Required to enable cleartype in IE when using filter */
  zoom: 1; }

/* IE8 */
.ie8 .form-item input,
.ie8 .form-item select,
.ie8 .form-item textarea {
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f4f8fb, endColorstr=#fafcfb, GradientType=0); }

/* Remove backgrounds and border on radios and checkboxes */
.form-item .form-radio,
.form-item .form-checkbox {
  background: none;
  border: none !important; }

/* Fieldset wrapper around groups of form elements -- add border here */
fieldset {
  border: 1px solid #9babb0;
  margin: 15px 0;
  padding: 10px; }

/* Typography and spacing for legend of fieldsets */
fieldset legend {
  font-weight: bold; }

/* Link style for legend of fieldsets */
fieldset legend,
legend.collapse-processed,
legend.collapse-processed a:link,
legend.collapse-processed a:visited {
  font-weight: bold; }

/* @end forms*/
/* @group Header top region
/-------------------------------------------------------------- */
#header {
  background: #fff;
  border-bottom: 3px solid #a7ce38; }

#wwm-collapse-3 .left-column, #wwm-collapse-3 .right-column {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5 1 8.5% px;
          flex: 0.5 1 8.5% px; }
  @media (min-width: 720px) {
    #wwm-collapse-3 .left-column, #wwm-collapse-3 .right-column {
      -webkit-box-flex: 0.5;
          -ms-flex: 0.5 1 100px;
              flex: 0.5 1 100px; } }
#wwm-collapse-3 .middle-column .pane-widgets-s-socialmedia-share-default {
  text-align: center;
  margin-top: 1em;
  margin-left: calc(-16% - 28px);
  margin-right: -72px;
  width: calc(100vw - 28px); }
  #wwm-collapse-3 .middle-column .pane-widgets-s-socialmedia-share-default a img {
    width: 4.4vw; }

/* @end header top*/
/* Wrapper around logo, site name, and slogan */
#logo {
  float: left;
  margin: 0 15px 0 0; }

.pane-page-logo img {
  height: 18vw; }
  @media (min-width: 768px) {
    .pane-page-logo img {
      height: 119px; } }
  @media (min-width: 960px) {
    .pane-page-logo img {
      height: 170px; } }
  @media (min-width: 1200px) {
    .pane-page-logo img {
      height: 192px; } }

.pane-page-site-name > a {
  font-size: 10vw;
  width: 100%;
  margin-left: -8.5vw;
  line-height: 1;
  text-decoration: none;
  color: #a7cf38;
  text-shadow: #7b7b7b -3px 0px 1px; }
  @media (min-width: 768px) {
    .pane-page-site-name > a {
      font-size: 72px;
      margin-left: -60px; } }
  @media (min-width: 960px) {
    .pane-page-site-name > a {
      font-size: 98px;
      margin-left: -77px; } }
  @media (min-width: 1200px) {
    .pane-page-site-name > a {
      font-size: 116px;
      margin-left: -90px; } }

/* Typography for site slogan */
.pane-page-slogan {
  line-height: 1;
  font-size: 2.5vw;
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, Trebuchet MS, sans-serif;
  font-weight: bold;
  color: #444; }
  @media (min-width: 768px) {
    .pane-page-slogan {
      font-size: 19px;
      margin-left: -12px; } }
  @media (min-width: 960px) {
    .pane-page-slogan {
      font-size: 24px;
      margin-left: 18px; } }
  @media (min-width: 1200px) {
    .pane-page-slogan {
      font-size: 30px;
      margin-left: 29px; } }

#header-group-inner {
  padding: 20px 0 0 0; }

#block-panels-mini-header {
  margin-bottom: 0; }

.maintenance-page #header-group-wrapper {
  display: inline-block; }
.maintenance-page #header-site-info {
  width: 100%; }
.maintenance-page #header-site-info-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
.maintenance-page .site-logo {
  float: left; }
  .maintenance-page .site-logo img {
    height: 18vw; }
    @media (min-width: 768px) {
      .maintenance-page .site-logo img {
        height: 119px; } }
    @media (min-width: 960px) {
      .maintenance-page .site-logo img {
        height: 170px; } }
    @media (min-width: 1200px) {
      .maintenance-page .site-logo img {
        height: 192px; } }
.maintenance-page h1.site-name {
  clear: none;
  border: 0;
  -ms-flex-item-align: start;
      align-self: start; }
  .maintenance-page h1.site-name a {
    font-family: 'Yesteryear', Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10vw;
    width: 100%;
    margin-left: -5.5vw;
    line-height: 1;
    text-decoration: none;
    color: #a7cf38;
    text-shadow: #7b7b7b -3px 0px 1px; }
    @media (min-width: 768px) {
      .maintenance-page h1.site-name a {
        font-size: 72px;
        margin-left: -37px; } }
    @media (min-width: 960px) {
      .maintenance-page h1.site-name a {
        font-size: 98px;
        margin-left: -54px; } }
    @media (min-width: 1200px) {
      .maintenance-page h1.site-name a {
        font-size: 116px;
        margin-left: -63px; } }
.maintenance-page .site-slogan {
  position: absolute;
  top: calc(8.5vw + 39px);
  margin-left: 4vw;
  border: 0;
  line-height: 1;
  font-size: 2.5vw;
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, Trebuchet MS, sans-serif;
  font-weight: bold;
  color: #444; }
  @media (min-width: 768px) {
    .maintenance-page .site-slogan {
      font-size: 19px;
      margin-left: 27px;
      top: 100px; } }
  @media (min-width: 960px) {
    .maintenance-page .site-slogan {
      font-size: 24px;
      margin-left: 40px;
      top: 128px; } }
  @media (min-width: 1200px) {
    .maintenance-page .site-slogan {
      font-size: 30px;
      margin-left: 45px;
      top: 147px; } }
.maintenance-page #content-region {
  text-align: center;
  margin-top: 5em; }

#block-superfish-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #block-superfish-1 .block__content {
    width: 100%; }

#superfish-1 li a {
  color: #154b70;
  text-decoration: none; }
  #superfish-1 li a:hover {
    color: #fff; }
#superfish-1 li.sf-depth-1 {
  background: transparent;
  display: block;
  float: left;
  margin: 0 4px 0 0;
  padding: 0;
  position: relative;
  line-height: 24px;
  border-radius: 5px 5px 0 0; }
  #superfish-1 li.sf-depth-1.sfHover > ul {
    top: 37px; }
#superfish-1 a.sf-depth-1 {
  background-color: #e1e1e1;
  border: none;
  display: block;
  padding: 5px 10px 1px 10px;
  border-radius: 5px 5px 0 0;
  line-height: 24px; }
  #superfish-1 a.sf-depth-1:hover, #superfish-1 a.sf-depth-1.active {
    background-color: #b5ee48;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b5ee48), color-stop(40%, #95cf1a), to(#95cf1a));
    color: #fff; }
#superfish-1 li.sfHover > a {
  background-color: #b5ee48;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b5ee48), color-stop(40%, #95cf1a), to(#95cf1a));
  color: #fff; }
#superfish-1 li.sfHover > ul {
  padding: 0 8px 9px 0 !important;
  background: #97d023;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 91.7%;
  margin-top: -4px;
  position: absolute;
  text-align: left;
  text-transform: none;
  z-index: 2;
  -webkit-filter: opacity(0.95);
          filter: opacity(0.95);
  border-radius: 0 0 5px 5px;
  overflow: visible !important;
  left: 0;
  top: 4px; }
  #superfish-1 li.sfHover > ul li a {
    background: #98d022;
    padding: 5px 10px 1px 10px; }

ul.sf-menu {
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, Trebuchet MS, sans-serif;
  font-size: 100%;
  font-weight: bold;
  text-transform: uppercase; }

a.menuparent:after {
  content: '\f0da';
  margin-left: 0.5em;
  font-family: FontAwesome; }

a.menuparent.sf-depth-1:after {
  content: '\f0d7'; }

.sf-sub-indicator {
  display: none; }

/* @group Vertical Superfish */
.superfish-vertical {
  position: relative;
  z-index: 10; }

ul.sf-vertical {
  background: #fafafa;
  margin: 0; }

ul.sf-vertical li {
  padding: 0;
  border-bottom: 1px solid #ccc;
  line-height: 200%;
  /* 24px */
  font-weight: bold;
  list-style: none;
  list-style-type: none;
  list-style-image: none; }

ul.sf-vertical li a:link,
ul.sf-vertical li a:visited,
ul.sf-vertical li .nolink {
  margin-left: 10px;
  padding: 2px; }

ul.sf-vertical li a:hover,
ul.sf-vertical li a.active {
  text-decoration: underline; }

ul.sf-vertical li ul {
  background: #fafafa;
  border-top: 1px solid #ccc;
  margin-left: 0; }

ul.sf-vertical li ul li.last {
  border-top: 1px solid #ccc;
  margin-bottom: -1px;
  margin-top: -1px; }

ul.sf-vertical li ul {
  border-top: none;
  padding: 4px 0; }

ul.sf-vertical li ul li {
  border-bottom: none;
  line-height: 150%;
  /* 24px */ }

ul.sf-vertical li ul li.last {
  border-top: none; }

ul.sf-vertical li ul li ul {
  margin-top: -4px; }

#superfish-1-toggle {
  border: 0;
  display: block;
  text-align: center;
  background-color: #008db0;
  color: white;
  border-radius: 10px;
  line-height: 1.5;
  padding: 0.25em 1em;
  font-size: 18px;
  /* fallback */
  font-size: calc(12px + 1vw);
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 0.5em; }
  #superfish-1-toggle.sf-expanded {
    background-color: #7bc;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0; }
  #superfish-1-toggle:hover {
    background-color: #7bc; }

#superfish-1-accordion {
  border: 1px solid #689a04;
  border-top: 0px;
  border-radius: 0 0 10px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 1em; }
  #superfish-1-accordion li {
    background-color: white;
    border: 1px solid #ddd;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    #superfish-1-accordion li.active-trail, #superfish-1-accordion li.active-trail:nth-child(even) {
      background-color: #00728e; }
      #superfish-1-accordion li.active-trail > a, #superfish-1-accordion li.active-trail:nth-child(even) > a {
        color: white; }
        #superfish-1-accordion li.active-trail > a:hover, #superfish-1-accordion li.active-trail:nth-child(even) > a:hover {
          background-color: #00728e; }
    #superfish-1-accordion li.menuparent > a.menuparent:after {
      content: "\f0da";
      font-family: "FontAwesome"; }
    #superfish-1-accordion li.menuparent.sf-expanded > a.menuparent {
      font-weight: normal; }
      #superfish-1-accordion li.menuparent.sf-expanded > a.menuparent:after {
        content: "\f0d7";
        font-family: "FontAwesome"; }
    #superfish-1-accordion li.menuparent > ul {
      padding-left: 10px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    #superfish-1-accordion li:nth-child(even) {
      background-color: #e6e6e6; }
    #superfish-1-accordion li a {
      border: 0px;
      color: black;
      padding-left: 34px;
      background: inherit;
      border-radius: 0;
      line-height: 24px;
      text-decoration: none;
      padding: 5px 10px 1px 10px; }
      #superfish-1-accordion li a:hover {
        background: #e9efcc; }
      #superfish-1-accordion li a:focus {
        background: initial; }
  #superfish-1-accordion > li.last {
    border-radius: 0 0 10px 10px; }
    #superfish-1-accordion > li.last.sf-expanded a {
      border-radius: 0; }
    #superfish-1-accordion > li.last > a, #superfish-1-accordion > li.last .last, #superfish-1-accordion > li.last .last > a {
      border-radius: 0 0 10px 10px; }

/* @end vertical superfish*/
ul.secondary-menu {
  margin: 0; }
  ul.secondary-menu li {
    margin: 0; }
    ul.secondary-menu li a {
      white-space: nowrap; }

/* Error that appears when a required form field is not filled out */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #aa1144; }

/* Required field */
.marker,
.form-required {
  color: #aa1144; }

table.update {
  margin-bottom: 10px; }

table.update tr td {
  padding: 2px; }

table.update tr.error td {
  background-color: #edd9be; }

table.update table.version td.version-links ul {
  margin: 0; }

table.update table.version td.version-links ul li {
  padding: 0 0 0 1em; }

table.update tr.ok td {
  background-color: #e3ecc0; }

table.update tr.warning td {
  background-color: #ffc; }

table.update tr.warning .project a:link,
table.update tr.warning .project a:visited,
.version-status .not-current {
  color: #900; }

div.messages {
  background: #fffce3;
  border: 2px solid #eed300;
  color: #c28e00;
  font-weight: normal;
  font-size: 14px;
  margin: 20px 0pt;
  padding: 10px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }

.messages.messages--status {
  border: 3px solid #8DC478;
  font-weight: normal;
  margin: 0.75em 0;
  padding: 7px 7px 7px 21px;
  background-color: #EAF8E4;
  color: #3E642F; }

div.messages ul {
  list-style-position: inside; }
  div.messages ul li {
    list-style: disc;
    margin-bottom: 0; }

div.messages em {
  color: #656c9b; }

div.error {
  background-color: #fff2f2;
  border-color: #f00;
  color: #b20000; }

.inner ul.pager {
  margin-left: 0; }

.inner ul.pager li {
  background: transparent;
  margin: 0 2px;
  padding: 0; }

.inner ul.pager li a:link,
.inner ul.pager li a:visited,
.inner ul.pager li.pager-current {
  background: #fdffef;
  border-color: #266996;
  color: #27638c;
  font-weight: bold;
  font-size: 108.3%;
  /* 13px/12px */
  padding: 5px 10px; }

.inner ul.pager li.pager-current {
  background-color: #d9dbcd;
  color: #000;
  display: block-inline;
  padding: 5px 10px; }

.ie6 .inner ul.pager li.pager-current,
.ie7 .inner ul.pager li.pager-current {
  margin-right: 2px;
  padding-right: 3px; }

.inner ul.pager li a:hover,
.inner ul.pager li a:active,
.inner ul.pager li a:focus {
  background-color: #eaefcb;
  border-color: #266996;
  color: #27638c; }

/* Body of tables */
tbody {
  border-top: 1px solid #ccc; }

/* Header of tables */
thead th,
th {
  border-bottom: 3px solid #ccc; }

tbody th {
  border-bottom: 1px solid #ccc; }

/* Alternating row background styles */
tr.even,
tr.even td {
  background-color: #e3ecc0;
  border-bottom: 1px solid #ccc; }

tr.odd,
tr.odd td {
  background-color: #fdffef;
  border-bottom: 1px solid #ccc; }

tr.drag td,
tr.drag-previous td {
  color: #000; }

td {
  padding: 3px; }

/*# sourceMappingURL=wwm-marina-omega.styles.css.map */