.blog-type-page {
	#main-content {
		background-color: transparent;
		border: 0;
	}

  h1.page-title {
    width: 100%;
      text-align: center;
      margin-bottom: 0;
      display: block;
  }

  .views-exposed-form {
    .views-exposed-widget {
      display: inline-block;
      float: none;
      min-width: 0;
      max-width: 100%;

      .form-item {
        input, select {
          min-width: 0;
          max-width: 100%;
        }
      }
    }
  }
  
  #main-content .panel-myriad-layout {
    display: flex;
    flex-flow: row wrap;

    > div {
      flex: 100%;
    }

    .views-exposed-widgets {
      .views-reset-button {
        float: right;
      }
      .views-widget-filter-published_at {
        .views-operator, .views-widget {
          margin-left: 1em;
        }
        .views-widget {
          margin-top: 0.5em;
        }
      }
      .views-widget-filter-type .views-widget {
        margin-left: 1em;
      }

      label:not(.option):after {
        content: ":";
      }
    }

    .row-one {
      width: 100%;
      display: flex;
      flex-flow: row wrap;

      @include breakpoint(944px) {
        display: block;
      }
    }

    .main-content {
      width: 100%;
      flex: 1 100%;
      padding: 0.5em 0;

      @include breakpoint(626px) {
        min-width: 560px;
        flex: 3 0 560px;
        padding: 0.5em 0;
      }
    }

    .sidebar-content {
      flex: 1 1 0;
      margin: 0.76%;
      min-width: 0;
      max-width: 100%;
      float: right;
      width: calc((100% / 3) - 23px);
      position: relative;
      z-index: 1;

      @include breakpoint(375px) {
        min-width: 300px;
        flex: 100%;
      }
      @include breakpoint(944px) {
        min-width: 0;
        flex: 300px;
      }

      .pane-articles2-panel-pane-7,
      .pane-news2-panel-pane-3,
      .pane-press-releases2-panel-pane-3 {
        .view-content {
          column-width: 150px;
        }
      }

      .view-display-id-panel_pane_2 {
        .item-list ul li {
          border-bottom: 0;
          margin-left: 0;
          padding: 0;
        }
        .pager {
          margin-bottom: 0;

          li {
            list-style: none;
              font-size: 14px;
              display: inline-block;
              padding: 3px 4px;
              border-radius: 5px;
              width: auto;
          }
        }
      }

      > div:first-child {
        margin-top: 0;
      }

      .boxed {
        .pane-title {
        	position: static;
          text-align: center;
        }
      }

      [data-pane] {
        margin: 1em 0;

        .boxed {
          margin: 0;
        }
      }

      .views-summary {
      	padding: 0;
      	margin: 0;
      	list-style: none;
      	column-width: 150px;
      }
    }

    .view-display-id-panel_pane_1 .view-content {
      padding: 0.5em;
    }

    .pane-articles2-panel-pane-6,
    .pane-news2-panel-pane-6,
    .pane-press-releases2-panel-pane-6,
    .pane-panopoly-faq-panel-pane-4 {
      box-sizing: border-box;
      margin: 0 0 1em 0;
      height: 100%;
    }
    .pane-panopoly-faq-panel-pane-4 {
      height: auto;
    }

    .featured-display,
    .main-display {
      height: 100%;

      .view-content {
        display: flex;
        width: 100%;
        flex-flow: row wrap;
        height: 100%;

        @include breakpoint(944px) {
          display: block;
        }

        .scroll-pane {
          overflow: auto;
        }
      }

      .views-field-published-at {
        text-align: center;
        margin-bottom: 1em;
      }
      .views-field-name {
        display: block;
        text-align: center;
        margin-bottom: 1em;

        a {
          color: black;

          &:hover {
            color: blue;
            text-decoration: underline;
          }
        }
      }
      .views-field-body {
        width: 100%;
        img {
          display: block;
          height: auto;
          margin: auto;
          max-width: 100%;
        }
      }

      .views-row {
        width: calc((100% / 3) - 42px);
        flex: 1 100%;
        padding: 0.5em;
        margin: 0.76%;
        border: 1px solid #cccccc;
        font-size: 14px;
        display: inline-flex;
        flex-flow: column nowrap;
        vertical-align: top;
        border-radius: 5px;
        box-sizing: content-box;
        background-color: white;

        @include breakpoint(420px) {
          flex: 1 1 250px;
          font-size: 18px;
          min-width: 250px;
        }
        @include breakpoint(944px) {
          min-width: 0;
        }

        .views-field-title,
        .views-field-title-field,
        .views-field-title p, 
        .views-field-title-field p {
          text-align: center;

          a {
            color: black;

            &:hover {
              color: blue;
              text-decoration: underline;
            }

            > * {
              display: inline;
              font-size: inherit;
            }
          }
        }

        .views-field-field-featured-image {
          text-align: center;

          img {
            max-width: 100%;
            width: 100%;
            height: auto;
          }
        }

        .featured-image img {
          width: 100%;
          height: auto;
        }

        .views-field-body {
          flex: 1;
          display: flex;

          .file-video .content {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
          }

          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .featured-display {
      display: flex;
      flex-flow: row wrap;
      width: 100%;

      @include breakpoint(944px) {
        display: block;
      }
    }

    .pane-card-cycles-card-blog .view-content {
      display: flex;
      flex-flow: row wrap;

      .views-slideshow-cycle-main-frame-row {
        display: flex;
        flex-flow: row wrap;
      }

      .views-row {
        flex: 1 30%;
        margin: 0.5em;
        padding: 0;
        text-align: center;

        @include breakpoint(375px) {
          min-width: 300px;
          flex: 1 1 300px;
        }

        .panel-display {
          padding: 0;
        }
        .panel-flexible {
          padding: 1em;
        }

        h2 {
          margin: 0.5em 0 0 0;
          text-align: center;
        }
        h3 {
          margin: 0 0 0.5em 0;
          text-align: center;
        }

        .col-1, .col-2 {
          width: 100%;
        }
        .col-1 {
          padding: 1em;
          text-align: center;
        }
        .col-2 {
          padding: 0 1em 1em 1em;
        }

        .pane-node-field-card-image {
          text-align: center;
        }

        .field--name-field-amazon-book-listing {
          text-align: center;
        }
      }     
    }

    .pane-node-field-call-to-action {
      text-align: center;

      a {
        color: #fff;
        font-weight: 600;
        background: #017cca;
        padding: 9px 15px;
        -webkit-border-radius: 75px;
        border-radius: 75px;
        margin: 0.5em auto;
        display: table;
        text-decoration: none;
        clear: both;
      }
    }

    .pane-card-cycles-card-slideshow,
    .pane-card-cycles-card-slideshow-clone {
      position: relative;

      .col-1 {
        width: 100%;
      }
    }

    .main-display {
      width: 100%;
    }
    .main-display,
    .main-display .view-content {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      .views-row {
        flex: 1 30%;
        margin: 0.5em;
        background-color: white;
        font-size: 14px;
        display: flex;
          flex-flow: column nowrap;

        @include breakpoint(375px) {
          min-width: 250px;
          flex: 1 250px;
          font-size: 18px;
        }
      }
      .views-field-field-featured-image,
      .views-field-title,
      .views-field-title-field, 
      .views-field-title p,
      .views-field-title-field p {
        text-align: center;
        
        h3 {
          margin-bottom: 0;
        }

        a {
          color: black;

          &:hover {
            color: blue;
            text-decoration: underline;
          }

          > * {
            display: inline;
            font-size: inherit;
          }
        }
      }
      .views-field-name,
      .views-field-published-at {
        display: block;
        text-align: center;

        a {
          color: black;

          &:hover {
            color: blue;
            text-decoration: underline;
          }
        }
      }

      .views-field-body {
        flex-grow: 1;

        .field-content {
          margin-bottom: 1em;
          line-height: 1.35em;
        }

        iframe {
          width: 100%;
          height: auto;
        }
      }
      .views-field-field-categories {
        font-weight: bold;
        font-size: 0.8em;
      }
      .views-label-field-categories {
        float: left;
        margin-right: 4px;
      }
      .views-field-type {
        font-weight: bold;
        font-size: 0.8em;
      }
    }

    .views-field-view-node a {
        float: right;
        text-transform: capitalize;
        color: #EA4335;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
      &:focus {
        color: #0f753b;
      }
    }
  }

  .views-field-title p,
  .views-field-title h2,
  .views-field-title-field p,
  .views-field-title-field h2 {
    text-align: center;
    margin: 0;
  }
  .views-field-field-categories {
    font-weight: bold;
    font-size: 0.8em;
    clear: both;
  }
  .views-label-field-categories {
    float: left;
    margin-right: 4px;
  }

  &.section-faqs {
    .views-field-title,
    .views-field-title-field {
      margin-bottom: 1em;
    }
  }
}

.views-field-title-field h2 {
  text-transform: none;
  border-bottom: none;
  font-size: 22px;
  @include fluid-type(400px, 1200px, 20px, 26px); // values inside are ($min_width,$max_width, $min_font, $max_font);
}

.node-type-article-post,
.node-type-panopoly-news-article,
.node-type-panopoly-faq {
  .pane-node-title-field {
    text-align: center;

    .field__item > * {
      margin-top: 0;
    }
  }
  
  .field--name-field-featured-image {
    width: 100%;

      @include breakpoint(481px) {
        margin: 0 1em 1em 0;
        width: 50%;
        float: left;
      }

      img {
        max-width: 100%;
        min-width: 0;
        height: auto;
        width: 100%;
      }
  }
  .field--name-field-categories {
    margin-top: 1em;
    font-weight: bold;
  }

  .row {
    display: flex;
    flex-flow: row wrap;
    padding: 0 1em;
  }

  .radix-layouts-content {
    flex: 1 100%;
    padding: 0;

    @include breakpoint(848px) {
      flex: 3 0 560px;
      min-width: 560px;
      padding: 0.5em;
    }
  }

  .radix-layouts-sidebar {
    flex: 1 300px;
    min-width: 300px;
    padding: 0;

    @include breakpoint(848px) {
      flex: 1 1 250px;
      padding: 0.5em;
    }

    .boxed {
      padding-top: 2em;
    }

    .pane-card-cycles-card-slideshow {
      margin-top: 1em;
    }
  }

  .radix-layouts-sidebar {
    .boxed {
      padding-top: 1em;
  
      .pane-title {
        position: static;
        margin-bottom: 0.5em;
        margin-top: 0;
      }
    }

    .views-slideshow-cycle-main-frame-row-item.boxed {
      padding-top: 2em;
    }
  }
}

.node-type-press-release.panelized-node {
	&.logged-in {
		.field--name-field-basic-text-text h1 {
			margin-bottom: 0;
		}
	}

  h1.page-title {
	 text-align: center;
  }

	.view-related-news {
  	.views-row {
  		display: inline-block;
  		width: 100%;
  		margin-bottom: 1em;
  	}

		.views-field-field-featured-image {
			float: left;
			margin-right: 1em;
		}
	}

  .panel-col-right {
    @include breakpoint(1024px) {
      max-width: 24%;
    }
  }

	.boxed {
		background-color: white;

		.pane-title {
			position: static;
			padding: 0;
			margin-bottom: 0.5em;
		}
	}

	.pane-page-actions {
		text-align: center;

		.action-links {
			display: inline-block;
			padding: 0;
		}
	}
  
  .content-main {
  	max-width: 960px;
  	background: #FFF;
  	margin: 1em auto;
  	position: relative;
  	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  	padding: 5%;
  	box-sizing: border-box;

  	&:before, &:after {
  	  content: "";
  	  position: absolute;
  	  z-index: -1;
  	  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  	  top: 50%;
  	  bottom: 0;
  	  left: 10px;
  	  right: 10px;
  	  border-radius: 100px / 10px;
  	}
  }

  .pane-node-field-immediate-release,
    .contact-title {
  	h4 {
  	  margin: 0;
  	}
  }

  .pane-node-field-upload-document {
    text-align: center;

    .field--name-field-upload-document {
      display: inline-block;
    }
  }

  .field--name-field-pr-about {
    margin: 2em 0;
  }

  .field--name-field-full-contact-details {
  	margin: 2em 0;
  	text-align: center;

  	h4 {
  	  margin: 0;
  	  display: inline-flex;

  	  &:after {
  		content: '\00a0';
  	  }
  	}
  }

  .field--name-field-featured-image {
  	width: 100%;

  	@include breakpoint(481px){
  	  margin: 0 1em 1em 0;
  	  width: 50%;
  	  float: left;
  	}

  	img {
  		width: 100%;
  	}
  }

  .field--name-field-contact-website .field__item {
    word-break: break-word;
  }

  .pane-node-title-field h1 {
  	line-height: 1.5;
  	text-align: center;
  }

  .pane-node-links {
  	text-align: center;

  	.links {
  		display: inline-block;
  	}
  }
}

.pane-news2-panel-pane-5,
.pane-articles2-panel-pane-5,
.pane-press-releases2-panel-pane-5,
.pane-panopoly-faq-panel-pane-6 {
  .view-content {
    display: flex;
    flex-flow: row wrap;
  }
  .views-row {
    display: inline-block;
    vertical-align: top;
    width: 230px;
    margin-right: 10px;
    margin-bottom: 0.5em;
    flex: 1 240px;
  }
  .views-field-field-featured-image {
    float: left;
    margin-right: 10px;
  }
  .views-field-published-at {
    font-size: 0.8em;
  }
}

.view-display-id-card_slideshow,
.view-display-id-card_slideshow_clone {
  .vscc-controls {
    text-align: center;
  }
  .vscc_controls_pause {
    display: inline-block;
  }

  .views-slideshow-controls-top {
    position: absolute;
    top: 7px;
    width: 100%;
    text-align: center;
    z-index: 10;
  }

  .views-slideshow-cycle-main-frame,
  .views-slideshow-cycle-main-frame-row {
    width: 100% !important;
  }


  .views-slideshow-cycle-main-frame-row-item {
    padding-top: 2em;
    text-align: center;
    margin: 0;
  }

  div.field-type-asin {
    border: 0px;
  }

  .field--name-field-amazon-book-listing img {
    width: 150px;
    height: auto;
  }

  .file-video iframe {
    max-width: 100%;
  }
}

.pane-card-cycles-card-slideshow-clone {
  width: 100%;
  max-width: 350px;
  margin: auto;
}

.view .pager {
	list-style: none;
	margin-bottom: 0;

	li {
		display: inline-block;
	}
}


element.style {
}
p:last-child {
  margin: 0;
}
.vbo-views-form p, .view-empty p {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: red;
  clear: both;
  border: 1px solid #CCCCCC;
  padding: 1em;
  display: inline-block;
  width: 66%;
  background: white;
}

.pane-views-empty {
  display: inline-block;
  width: 100%;
  text-align: center;

  @include breakpoint(944px) {
    margin-top: 0.5rem;
  }

  p {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: red;
    clear: both;
    border: 1px solid #CCCCCC;
    padding: 1em;
    display: inline-block;
    width: 100%;
    background: white;
    border-radius: 5px;
  }
}

.pane-views-pager {
  text-align: center;

  ul.pager {
    margin: auto;
  }
}
ul.pager {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  display: table;
  margin: auto;
  margin-top: 1em;
  padding: 0;

  .pager__item {
    background: #eee;
    float: left;
    margin-bottom: 0;

    &:first-child {
      border-radius: 5px 0 0 5px;
    }
    &:last-child {
      border-radius: 0 5px 5px 0;
    }
    &.pager__item--current {
      background: #007bcb;
      color: white;

      &:hover {
        color: black;
      }
    }
    &:hover {
      background: white;
    }

    a, a:visited {
      color: black;
    }
  }
}
.sidebar-content ul.pager {
  display: block;
  border: 0;
}

.view-card-cycles {
  .vscc-controls {
    text-align: center;
  }
  .vscc_controls_pause {
    display: inline-block;
  }

  .views-slideshow-controls-top {
    position: absolute;
    top: 7px;
    width: 100%;
    text-align: center;
    z-index: 10;
  }

  .views-slideshow-cycle-main-frame,
  .views-slideshow-cycle-main-frame-row {
    width: 100% !important;
  }

  .views-slideshow-cycle-main-frame-row-item {
    padding-top: 2em;
    text-align: center;
    margin: 0;
  }

  div.field-type-asin {
    border: 0px;
  }

  .field--name-field-amazon-book-listing img {
    width: 150px;
    height: auto;
  }
}
