div.breadcrumb {
  flex: 1 100%;

  a {
    color: white;
    line-height: 30px;
    display: inline-block;
  }
}

ul.breadcrumb {
  margin: 0;
  padding: 0;

  li {
    color: white;
    line-height: 30px;
    display: inline-block;
    margin-bottom: 0;

    a:hover {
      text-decoration: underline;
    }
  }
}