breadcrumbs {
  margin: 0;
}

#breadcrumbs-inner {
  width: 100%;
  margin: 0 1em;
  max-width: calc(100% - 2em);

  @include breakpoint(768px) {
    width: 768px;
    margin: auto;
  }
  @include breakpoint(960px) {
    width: 100%;
    margin: 0 1em;
    max-width: calc(100% - 2em);
  }
  @include breakpoint(1200px) {
    width: 1200px;
    margin: auto;
  }

  .breadcrumb {
    padding-bottom: 0;

    a {
      color: white;
      line-height: 30px;
      display: inline-block;
    }
  }
}