#branding {
	background-color: #2f76a5;
	background: linear-gradient(#2f76a5, #144a6e);
	color: #fff;
	min-height: 30px;
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	font-size: 90%;

	a {
		color: white;
		text-decoration: none;
	}

	.limiter {
		width: 100%;
		max-width: 1200px;
		margin: 0 2em;
		display: flex;

		@include breakpoint(1200px) {
			margin: auto;
		}
	}
}

#page-tite {
	text-align: center;

	h1.page-title {
		border: 0;
	}
}