#branding {
	background-color: #2f76a5;
	background: linear-gradient(#2f76a5, #144a6e);
	color: #fff;
	min-height: 33px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	width: 100%;
}