#branding {
	background-color: #2f76a5;
	background: linear-gradient(#2f76a5, #144a6e);
	color: #fff;
	min-height: 30px;
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	font-size: 90%;

	a {
		color: white;
		text-decoration: none;
	}

	.limiter {
		width: 100%;
		max-width: 1200px;
		margin: 0 2em;
		display: flex;

		@include breakpoint(1220px) {
			margin: auto;
		}
	}
}

#main-content {
	padding-top: 1em;
}

#console {
	clear: both;
}

#page-title {
	text-align: center;
	font-weight: 700;

	h1.page-title {
		margin-top: 0;
		text-transform: capitalize;
		border-bottom: 0;
		margin-bottom: 0em;

		font-size: 24px;  // backup size
		@include fluid-type(400px, 1200px, 24px, 32px); // values inside are ($min_width,$max_width, $min_font, $max_font);
	}
}
.field.field--name-title-field h1 {
	text-transform: capitalize;
	border-bottom: 1px solid #d6dd89;
	font-weight: 700;

	font-size: 24px;  // backup size
	@include fluid-type(400px, 1200px, 24px, 32px); // values inside are ($min_width,$max_width, $min_font, $max_font);
}

.views-ui-display-tab-bucket .advanced-help-link {
	float: left;
}

.ctools-button ul li {
    margin: 0;
}

#views-display-menu-tabs li input {
	color: initial;
	font-weight: normal;
	text-transform: none;
	font-size: 13px;
}

h2.pane-title {
	text-transform: capitalize;
	border-bottom: 1px solid #d6dd89;
	font-size: 22px;
	@include fluid-type(400px, 1200px, 20px, 26px); // values inside are ($min_width,$max_width, $min_font, $max_font);
}

.vbo-views-form p, .view-empty p {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: red;
  clear: both;
  border: 1px solid #CCCCCC;
  padding: 1em;
  display: inline-block;
  width: 66%;
  background: white;
}