/* @group Header top region
/-------------------------------------------------------------- */

#header {
  background: #fff;
  border-bottom: 3px solid #a7ce38;
  padding-top: 10px;
}

#wwm-collapse-3 {
  .left-column, .right-column {
    flex: 0.5 1 8.5%px;

    @include breakpoint(720px){
      flex: 0.5 1 100px;
    }
  }

  .middle-column {
    .pane-widgets-s-socialmedia-share-default {
      text-align: center;
      margin-top: 1em;
      margin-left: calc(-16% - 28px);
      margin-right: -103px;
      width: calc(100vw - 28px);

      a img {
        width: 25px;
      }
    }
  }
}

/* @end header top*/

/* Wrapper around logo, site name, and slogan */

#logo {
  float: left;
  margin: 0 15px 0 0;
}

.pane-page-logo img {
  height: 22vw;

  @include breakpoint(480px){
    height: 20vw;
  }
  @include breakpoint(768px){
    height: 119px;
  }
  @include breakpoint(960px){
    height: 170px;
  }
  @include breakpoint(1200px){
    height: 192px;
  }
}

.pane-page-site-name > a {
  font-size: 11vw;
  width: 100%;
  margin-left: -11.5vw;
  line-height: 1;
  text-decoration: none;
  color: #a7cf38;
  text-shadow: #7b7b7b -3px 0px 1px;

  @include breakpoint(480px){
    font-size: 10.5vw;
    margin-left: -9.5vw;
  }
  @include breakpoint(768px){
    font-size: 72px;
    margin-left: -60px;
  }
  @include breakpoint(960px){
    font-size: 98px;
    margin-left: -77px;
  }
  @include breakpoint(1200px) {
    font-size: 116px;
    margin-left: -90px;
  }
}

/* Typography for site slogan */

.pane-page-slogan {
  line-height: 1;
  font-size: 2.5vw;
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, Trebuchet MS, sans-serif;
  font-weight: bold;
  color: #444;

  @include breakpoint(480px){
    font-size: 3vw;
    margin-left: -3vw;
  }
  @include breakpoint(768px){
    font-size: 19px;
    margin-left: -12px;
  }
  @include breakpoint(960px){
    font-size: 24px;
    margin-left: 18px;
  }
  @include breakpoint(1200px){
    font-size: 30px;
    margin-left: 29px;
  }
}

#header-group-inner {
  padding: 20px 0 0 0;
}

#block-panels-mini-header {
  margin-bottom: 0;
}