#block-superfish-1 {
  display: flex;
}

#superfish-1 {
  li.sf-depth-1 {
    background: transparent;
    display: block;
    float: left;
    margin: 0 4px 0 0;
    padding: 0;
    position: relative;
    line-height: 24px;
  }
  a.sf-depth-1 {
    background-color: #e1e1e1;
    border: none;
    color: #154b70;
    display: block;
    padding: 5px 10px 1px 10px;
    text-decoration: none;
    border-radius: 5px 5px 0 0;
  }
}

ul.sf-menu {
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, Trebuchet MS, sans-serif;
  font-size: 100%;
  font-weight: bold;
  text-transform: uppercase;
}

a.menuparent:after {
  content: '\f0da';
  margin-left: 0.5em;
  font-family: FontAwesome;
}

a.menuparent.sf-depth-1:after {
  content: '\f0d7';
}

/* @group Vertical Superfish */

.superfish-vertical {
  position: relative;
  z-index: 10;
}

ul.sf-vertical {
  background: #fafafa;
  margin: 0;
}

ul.sf-vertical li {
  padding: 0;
  border-bottom: 1px solid #ccc;
  line-height: 200%; /* 24px */
  font-weight: bold;
  list-style: none;
  list-style-type: none;
  list-style-image: none;
}

ul.sf-vertical li a:link,
ul.sf-vertical li a:visited,
ul.sf-vertical li .nolink {
  margin-left: 10px;
  padding: 2px;
}

ul.sf-vertical li a:hover,
ul.sf-vertical li a.active {
  text-decoration: underline;
}

ul.sf-vertical li ul {
  background: #fafafa;
  border-top: 1px solid #ccc;
  margin-left: 0;
}

ul.sf-vertical li ul li.last {
  border-top: 1px solid #ccc;
  margin-bottom: -1px;
  margin-top: -1px;
}

ul.sf-vertical li ul {
  border-top: none;
  padding: 4px 0;
}

ul.sf-vertical li ul li {
  border-bottom: none;
  line-height: 150%; /* 24px */
}

ul.sf-vertical li ul li.last {
  border-top: none;
}

ul.sf-vertical li ul li ul {
  margin-top: -4px;
}

#superfish-1-toggle {
  border: 0;
  display: block;
  text-align: center;
  background-color: #008db0;
  color: white;
  border-radius: 10px;
  line-height: 1.5;
  padding: 0.25em 1em;
  font-size: 18px;  /* fallback */
  font-size: calc(12px + 1vw);
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 0.5em;

  &.sf-expanded {
    background-color: #7bc;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0;
  }

  &:hover {
    background-color: #7bc;
  }
}

#superfish-1-accordion {
  border: 1px solid #689a04;
  border-top: 0px;
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1em;

  li {
    background-color: white;
    border: 1px solid #ddd;
    box-sizing: border-box;

    &.active-trail, &.active-trail:nth-child(even) {
      background-color: #00728e;

      > a {
        color: white;

        &:hover {
          background-color: #00728e;
        }
      }
    }

    &.menuparent>a.menuparent:after {
      content: "\f0da";
      font-family: "FontAwesome";
    }

    &.menuparent.sf-expanded{
      >a.menuparent{
        font-weight: normal;

        &:after {
          content: "\f0d7";
          font-family: "FontAwesome";
        }
      }
    }

    &.menuparent>ul{
      padding-left: 10px;
      box-sizing: border-box;
    }

    &:nth-child(even) {
      background-color: #e6e6e6;
    }

    a {
      border: 0px;
      color: black;
      padding-left: 34px;
      background: inherit;
      border-radius: 0;

      &:hover {
        background: #e9efcc;
      }
      &:focus {
        background: initial;
      }
    }
  }

  > li.last {
    border-radius: 0 0 10px 10px;

    &.sf-expanded a {
      border-radius: 0;
    }

    > a, .last, .last > a {
      border-radius: 0 0 10px 10px;
    }
  }
}

/* @end vertical superfish*/