.inner ul.pager {
  margin-left: 0;
}

.inner ul.pager li {
  background: transparent;
  margin: 0 2px;
  padding: 0;
}

.inner ul.pager li a:link,
.inner ul.pager li a:visited,
.inner ul.pager li.pager-current {
  background: #fdffef;
  border-color: #266996;
  color: #27638c;
  font-weight: bold;
  font-size: 108.3%; /* 13px/12px */
  padding: 5px 10px;
}

.inner ul.pager li.pager-current {
  background-color: #d9dbcd;
  color: #000;
  display: block-inline;
  padding: 5px 10px;
}

.ie6 .inner ul.pager li.pager-current,
.ie7 .inner ul.pager li.pager-current {
  margin-right: 2px;
  padding-right: 3px;
}

.inner ul.pager li a:hover,
.inner ul.pager li a:active,
.inner ul.pager li a:focus {
  background-color: #eaefcb;
  border-color: #266996;
  color: #27638c;
}

.pane-views-pager {
  text-align: center;

  ul.pager {
    margin: auto;
  }
}
ul.pager {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  display: table;
  margin: 0.5em auto;
  padding: 0;

  .pager__item {
    background: #eee;
    float: left;
    margin-bottom: 0;

    &:first-child {
      border-radius: 5px 0 0 5px;
    }
    &:last-child {
      border-radius: 0 5px 5px 0;
    }
    &.pager__item--current {
      background: #007bcb;
      color: white;

      &:hover {
        color: black;
      }
    }
    &:hover {
      background: white;
    }

    a, a:visited {
      color: black;
    }
  }
}
.sidebar-content ul.pager {
  display: block;
  border: 0;
}