.action-links {
  float: left;

  li {
    display: inline-block;
  }
}

.secondary-menu .tabs {
  float: right;
}

.tabs--primary {
	padding: 0 10px;
	clear: both;
	margin-bottom: 10px;

	li {
		border-style: none;
		display: inline;
		float: left;
		list-style: none;
		margin: 0 10px;
		padding: 0;

		a {
			background-color: transparent;
			border-bottom: 4px solid transparent;
			float: left;
			font-weight: bold;
			margin: 0;
			padding: 0;
			text-decoration: none;
			white-space: nowrap;
			color: #27638c;
			font-size: 108.3%;
			text-transform: uppercase;

			&:hover, 
			&:focus,
			&.active {
				border-bottom: 4px solid #94ce18;
				color: #4a95c8;
				background-color: transparent;
			}
		}
	}
}

.tabs--secondary,
.tabs.secondary {
	clear: both;
	border-bottom: 1px solid #555;
	margin-bottom: 10px;
	text-transform: lowercase;

	li {
		margin: 0 10px;
		padding: 0;

		a {
			background-color: transparent;
			border: none;
			color: #555;
			float: left;
			font-weight: bold;
			margin: 0;
			padding: 0 0 6px 0;
			text-decoration: none;
			white-space: nowrap;

			&:hover, 
			&:focus,
			&.active {
				border-bottom: 4px solid #555;
				color: #777;
				padding-bottom: 2px;
				background: transparent;
			}
		}
	}
}

.tabs.secondary {
	float: right;
	display: inline-flex;
	flex-flow: row wrap;
	padding: 0;
	margin-top: 0.5em;
}
