html {
  color: #222;
}

body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

h1 {
  border-bottom: 1px solid #d6dd89;
  clear: left;
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, Trebuchet MS, sans-serif;
  font-size: 183.3%; /* 22px/12px */
  font-weight: normal;
  line-height: 120%;
  margin-bottom: 5px;
  margin-top: 0;
}

h2 {
  border-bottom: 1px solid #d6dd89;
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, Trebuchet MS, sans-serif;
  font-size: 133.3%; /* 16px/12px */
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 0;
}

h2 a:hover,
h2 a:focus,
h2 a:active {
  color: #619cbe;
  text-decoration: none;
}

h1 {
  text-transform: none;
  font-weight: 700;
  border-bottom: none;
  font-size: 24px;  // backup size
  @include fluid-type(400px, 1200px, 24px, 32px); // values inside are ($min_width,$max_width, $min_font, $max_font);
}

h2 {
  text-transform: none;
  border-bottom: none;
  font-size: 22px;
  @include fluid-type(400px, 1200px, 20px, 26px); // values inside are ($min_width,$max_width, $min_font, $max_font);
}

h3 {
  font-size: 14px;
  @include fluid-type(400px, 1200px, 14px, 18px); // values inside are ($min_width, $max_width, $min_font, $max_font);
}

h4 {
  font-size: 13px;
  @include fluid-type(400px, 1200px, 13px, 18px); // values inside are ($min_width, $max_width, $min_font, $max_font);
}

h5 {
  font-size: 10px;
  @include fluid-type(400px, 1200px, 10px, 14px); // values inside are ($min_width, $max_width, $min_font, $max_font);
}

h6 {
  font-size: 9px;
  @include fluid-type(400px, 1200px, 9px, 12px); // values inside are ($min_width, $max_width, $min_font, $max_font);
}

p {
  font-size: 14px;
  @include fluid-type(400px, 1200px, 14px, 16px); // values inside are ($min_width, $max_width, $min_font, $max_font);
  
  &:not([class]) {
    text-align: justify;
  }
}

/* Default link styles - separate a:visited for a different visited
link style */

a,
a:link,
a:visited {
  color: #0370bb;
  text-decoration: none;
  word-wrap: break-word;
}

/* Hover/active link styles. Don't forget :focus for accessibility */

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

/* Lists */

ul {
  margin: 0 0 10px 20px;
}

ul.menu,
ul.item-list,
ul.pager,
ul.links {
  margin-left: 0;
  padding-left: 1em;
}

ol {
  margin: 0 0 10px 40px;
}

ul ul,
ol ol {
  margin: 5px 0 5px 10px;
}

ul li {
  list-style: none;
  list-style-image: none;
  margin-bottom: 5px;
  padding: 0;
}

blockquote p {
  font-style: italic;
  margin: 0;
  padding: 8px 20px;
}

blockquote {
  background: url(/skins/acquia_marina_default/images/close-quote.png) no-repeat 100% 100%; /* LTR */
  color: #5a6a78;
  margin: 10px 0;
}

blockquote p:first-child {
  background: url(/skins/acquia_marina_default/images/open-quote.png) no-repeat 0 100%;  /* LTR */
  padding: 0 0 0 20px;/* LTR */
}

blockquote * > :first-child {
  background: transparent;
  padding: 0;
}

blockquote a:link {
  text-decoration: underline;
}

hr {
  border: 1px solid #d6dd89;
}

/* @end basic typography*/

/* @group Layout elements & regions */

.page-inner {
  border: 0;
  margin-bottom: 0;
  padding: 0;
}

.header-inner,
#main-content,
.footer-inner {
  max-width: 1200px;
  margin: 0 1em;

  @include breakpoint(1220px) {
    margin: auto;
  }
}

#page {
  background-color: #f2fbd2;
  background-image: linear-gradient(#f2fbd2, #f5f7e7);
  flex: 1;
}

#content.page-content {
  clear: both;
  margin: 0 0 1em 0;

  ul, ol {
    overflow: auto;
    font-size: 13px;
    @include fluid-type(400px, 1200px, 13px, 18px); // values inside are ($min_width, $max_width, $min_font, $max_font);
  }
}

/* @group Blocks, panels & all regions
/-------------------------------------------------------------- */

.ie7 .block {
  position: relative;
}

.boxed, .page-admin #content {
  background-color: white;
  border-color: #cccccc;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  overflow: auto;
  padding: 1em;
  margin: .5em 0;
}
