@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../abstractions/_mixins.scss";

.blog-type-page {
	#main-content {
		background-color: transparent;
		border: 0;
	}

  h1.page-title {
    width: 100%;
      text-align: center;
      margin-bottom: 0;
      display: block;
  }

  .views-exposed-form {
    .views-exposed-widget {
      display: inline-block;
      float: none;
      min-width: 0;
      max-width: 100%;

      .form-item {
        input, select {
          min-width: 0;
          max-width: 100%;
        }
      }
    }
  }
  
  #main-content .panel-myriad-layout {
    display: flex;
    flex-flow: row wrap;

    > div {
      flex: 100%;
    }

    .views-exposed-widgets {
      .views-reset-button {
        float: right;
      }
      .views-widget-filter-published_at {
        .views-operator, .views-widget {
          margin-left: 1em;
        }
        .views-widget {
          margin-top: 0.5em;
        }
      }
      .views-widget-filter-type .views-widget {
        margin-left: 1em;
      }

      label:not(.option):after {
        content: ":";
      }
    }

    .row-one {
      width: 100%;
      display: flex;
      flex-flow: row wrap;

      @include breakpoint(944px) {
        display: block;
      }
    }

    .main-content {
      width: 100%;
      flex: 1 100%;
      padding: 0.5em 0;

      @include breakpoint(626px) {
        min-width: 560px;
        flex: 3 0 560px;
        padding: 0.5em 0;
      }
    }

    .sidebar-content {
      flex: 1 1 0;
      margin: 0.76%;
      min-width: 0;
      max-width: 100%;
      float: right;
      width: calc((100% / 3) - 23px);
      position: relative;
      z-index: 1;

      @include breakpoint(375px) {
        min-width: 300px;
        flex: 100%;
      }
      @include breakpoint(944px) {
        min-width: 0;
        flex: 300px;
      }

      .pane-articles2-panel-pane-7,
      .pane-news2-panel-pane-3,
      .pane-press-releases2-panel-pane-3 {
        .view-content {
          column-width: 150px;
        }
      }

      .view-display-id-panel_pane_2 {
        .item-list ul li {
          border-bottom: 0;
          margin-left: 0;
          padding: 0;
        }
        .pager {
          margin-bottom: 0;

          li {
            list-style: none;
              font-size: 14px;
              display: inline-block;
              padding: 3px 4px;
              border-radius: 5px;
              width: auto;
          }
        }
      }

      > div:first-child {
        margin-top: 0;
      }

      .boxed {
        .pane-title {
        	position: static;
          text-align: center;
        }
      }

      [data-pane] {
        margin: 1em 0;

        .boxed {
          margin: 0;
        }
      }

      .views-summary {
      	padding: 0;
      	margin: 0;
      	list-style: none;
      	column-width: 150px;
      }
    }

    .view-display-id-panel_pane_1 .view-content {
      padding: 0.5em;
    }

    .pane-articles2-panel-pane-6,
    .pane-news2-panel-pane-6,
    .pane-press-releases2-panel-pane-6,
    .pane-panopoly-faq-panel-pane-4 {
      box-sizing: border-box;
      margin: 0 0 1em 0;
      height: 100%;
    }
    .pane-panopoly-faq-panel-pane-4 {
      height: auto;
    }

    .featured-display,
    .main-display {
      height: 100%;

      .view-content {
        display: flex;
        width: 100%;
        flex-flow: row wrap;
        height: 100%;

        @include breakpoint(944px) {
          display: block;
        }

        .scroll-pane {
          overflow: auto;
        }
      }

      .views-field-published-at {
        text-align: center;
        margin-bottom: 1em;
      }
      .views-field-name {
        display: block;
        text-align: center;
        margin-bottom: 1em;

        a {
          color: black;

          &:hover {
            color: blue;
            text-decoration: underline;
          }
        }
      }
      .views-field-body {
        width: 100%;

        .field-content {
          width: 100%;
        }

        img {
          display: block;
          height: auto;
          margin: auto;
          max-width: 100%;
        }
      }

      .views-row {
        width: calc((100% / 3) - 42px);
        flex: 1 100%;
        padding: 0.5em;
        margin: 0.76%;
        border: 1px solid #cccccc;
        font-size: 14px;
        display: inline-flex;
        flex-flow: column nowrap;
        vertical-align: top;
        border-radius: 5px;
        box-sizing: content-box;
        background-color: white;

        @include breakpoint(420px) {
          flex: 1 1 250px;
          font-size: 18px;
          min-width: 250px;
        }
        @include breakpoint(944px) {
          min-width: 0;
        }

        .views-field-title,
        .views-field-title-field,
        .views-field-title p, 
        .views-field-title-field p {
          text-align: center;

          a {
            color: black;

            &:hover {
              color: blue;
              text-decoration: underline;
            }

            > * {
              display: inline;
              font-size: inherit;
            }
          }
        }

        .views-field-field-featured-image {
          text-align: center;

          img {
            max-width: 100%;
            width: 100%;
            height: auto;
          }
        }

        .featured-image img {
          width: 100%;
          height: auto;
        }

        .views-field-body {
          flex: 1;
          display: flex;

          .file-video .content {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
          }

          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .featured-display {
      display: flex;
      flex-flow: row wrap;
      width: 100%;

      @include breakpoint(944px) {
        display: block;
      }
    }

    .pane-card-cycles-card-blog .view-content {
      display: flex;
      flex-flow: row wrap;

      .views-slideshow-cycle-main-frame-row {
        display: flex;
        flex-flow: row wrap;
      }

      .views-row {
        flex: 1 30%;
        margin: 0.5em;
        padding: 0;
        text-align: center;

        @include breakpoint(375px) {
          min-width: 300px;
          flex: 1 1 300px;
        }

        .panel-display {
          padding: 0;
        }
        .panel-flexible {
          padding: 1em;
        }

        h2 {
          margin: 0.5em 0 0 0;
          text-align: center;
        }
        h3 {
          margin: 0 0 0.5em 0;
          text-align: center;
        }

        .col-1, .col-2 {
          width: 100%;
        }
        .col-1 {
          padding: 1em;
          text-align: center;
        }
        .col-2 {
          padding: 0 1em 1em 1em;
        }

        .pane-node-field-card-image {
          text-align: center;
        }

        .field--name-field-amazon-book-listing {
          text-align: center;
        }
      }     
    }

    .pane-node-field-call-to-action {
      text-align: center;

      a {
        color: #fff;
        font-weight: 600;
        background: #017cca;
        padding: 9px 15px;
        -webkit-border-radius: 75px;
        border-radius: 75px;
        margin: 0.5em auto;
        display: table;
        text-decoration: none;
        clear: both;
      }
    }

    .pane-card-cycles-card-slideshow,
    .pane-card-cycles-card-slideshow-clone {
      position: relative;

      .col-1 {
        width: 100%;
      }
    }

    .main-display {
      width: 100%;
    }
    .main-display,
    .main-display .view-content {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      .views-row {
        flex: 1 30%;
        margin: 0.5em;
        background-color: white;
        font-size: 14px;
        display: flex;
          flex-flow: column nowrap;

        @include breakpoint(375px) {
          min-width: 250px;
          flex: 1 250px;
          font-size: 18px;
        }
      }
      .views-field-field-featured-image,
      .views-field-title,
      .views-field-title-field, 
      .views-field-title p,
      .views-field-title-field p {
        text-align: center;
        
        h3 {
          margin-bottom: 0;
        }

        a {
          color: black;

          &:hover {
            color: blue;
            text-decoration: underline;
          }

          > * {
            display: inline;
            font-size: inherit;
          }
        }
      }
      .views-field-name,
      .views-field-published-at {
        display: block;
        text-align: center;

        a {
          color: black;

          &:hover {
            color: blue;
            text-decoration: underline;
          }
        }
      }

      .views-field-body {
        flex-grow: 1;

        .field-content {
          margin-bottom: 1em;
          line-height: 1.35em;
        }

        iframe {
          width: 100%;
          height: auto;
        }
      }
      .views-field-field-categories {
        font-weight: bold;
        font-size: 0.8em;
      }
      .views-label-field-categories {
        float: left;
        margin-right: 4px;
      }
      .views-field-type {
        font-weight: bold;
        font-size: 0.8em;
      }
    }

    .views-field-view-node a {
        float: right;
        text-transform: capitalize;
        color: #EA4335;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
      &:focus {
        color: #0f753b;
      }
    }
  }

  .views-field-title p,
  .views-field-title h2,
  .views-field-title-field p,
  .views-field-title-field h2 {
    text-align: center;
    margin: 0;
  }
  .views-field-field-categories {
    font-weight: bold;
    font-size: 0.8em;
    clear: both;
  }
  .views-label-field-categories {
    float: left;
    margin-right: 4px;
  }

  &.section-faqs {
    .views-field-title,
    .views-field-title-field {
      margin-bottom: 1em;
    }
  }
}

.views-field-title-field h2 {
  text-transform: none;
  border-bottom: none;
  font-size: 22px;
  @include fluid-type(400px, 1200px, 20px, 26px); // values inside are ($min_width,$max_width, $min_font, $max_font);
}

.view .pager {
	list-style: none;
	margin-bottom: 0;

	li {
		display: inline-block;
	}
}

p:last-child {
  margin: 0;
}

.pane-views-empty {
  display: inline-block;
  width: 100%;
  text-align: center;

  @include breakpoint(944px) {
    margin-top: 0.5rem;
  }

  p {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: red;
    clear: both;
    border: 1px solid #CCCCCC;
    padding: 1em;
    display: inline-block;
    width: 100%;
    background: white;
    border-radius: 5px;
  }
}
