@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../abstractions/_mixins.scss";

.section-categories.page-taxonomy-term {
	.view-panopoly-taxonomy.view-content {
		display: flex;
		flex-flow: row wrap;
		margin-left: -0.5em;
		margin-right: -0.5em;

		.views-row {
			flex: 2 1 300px;
			margin: 0.5em;
		}

		.views-field-title-field {
			text-align: center;
			margin-bottom: 0.5em;
		}
		.views-field-field-featured-image {
			text-align: center;

			img {
				max-width: 300px;
				width: 100%;
				height: auto;
			}
		}
	}
}