@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../abstractions/_mixins.scss";

.view-home-page-nodequeue-view.view-display-id-panel_pane_1 .view-content {
	display: flex;
	flex-flow: row wrap;
	margin-left: -0.5em;
	margin-right: -0.5em;

	.views-row {
		flex: 1 1 250px;
		margin: 0.5em;
		flex-flow: column nowrap;
		display: flex;

		.views-field-title {
			text-align: center;
			margin-bottom: 0.5em;
		}
		.views-field-field-teaser-link-text {
			flex: 1;
			margin-bottom: 1em;
			text-align: center;

			a {
				color: red;
				font-weight: bold;
			}
		}
		.views-field-nodequeue-links ul.links {
			margin: 0;
			padding: 0;
		}
	}
}