@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../abstractions/_mixins.scss";

.view-home-page-nodequeue-view.view-display-id-panel_pane_2 .view-content {
	display: flex;
	flex-flow: row wrap;
	margin-left: -0.5em;
	margin-right: -0.5em;

	.views-row {
		flex: 1 1 250px;
		margin: 0.5em;

		.panelizer-view-mode {
			display: flex;
			flex-flow: column nowrap;
			height: 100%;
		}

		.field--name-field-featured-image {
			text-align: center;
		}
		.field--name-title-field {
			text-align: center;
			margin-bottom: 0.5em;
		}
		.pane-node-field-teaser-link-text {
			flex: 1;
			margin-top: 1em;
			margin-bottom: 1em;
			text-align: center;

			a {
				color: red;
				font-weight: bold;
			}
		}
		.pane-node-links ul.links {
			margin: 0;
			padding: 0;
		}
	}
}