@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../abstractions/_mixins.scss";

.maintenance-page {
  .l-page {
    height: 100vh;
    display: flex;
    flex-flow: column;
  }
  #header {
    background: white;
    padding-top: 1em;
  }
  #header-group-wrapper {
    display: inline-block;
  }

  #header-site-info {
    width: 100%;
  }

  #mini-panel-header {
    .panel-col {
      flex: 0;
    }
  }

  h1.pane-page-site-name {
    a {
      font-family: 'Yesteryear', Verdana, Geneva, Arial, Helvetica, sans-serif;
    }
  }

  .l-main {
    flex: 1;
    display: flex;
    flex-flow: column;
    background-color: #f2fbd2;
    background-image: linear-gradient(#f2fbd2, #f5f7e7);

    &:before {
      content: "";
      height: 33px;
      width: 100%;
      background-color: #2f76a5;
      background: linear-gradient(#2f76a5, #144a6e);
      border-top: 3px solid #a7ce38;
    }
  }
  .l-content {
    text-align: center;
    margin: 10%;

    h1 {
      border: 0;
      text-transform: capitalize;
      font-weight: bold;
      margin-bottom: 1em;
    }
  }

  #mini-panel-header .panel-col-bottom {
    margin: 0;
  }
}