@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../abstractions/_mixins.scss";

#node-edit {
	.form-item-path-alias {
		display: flex;
		flex-flow: row wrap;

		* {
			float: none;
		}
		input {
			flex: 1 1 auto;
		}
	}

	ul.tips {
		padding-inline-start: 0px;
		margin-inline-start: 0px;

		li {
			list-style: disc;
		}
	}
}