@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../abstractions/_mixins.scss";

.node-type-press-release.panelized-node {
	&.logged-in {
		.field--name-field-basic-text-text h1 {
			margin-bottom: 0;
		}
	}

  h1.page-title {
	 text-align: center;
  }

	.view-related-news {
  	.views-row {
  		display: inline-block;
  		width: 100%;
  		margin-bottom: 1em;
  	}

		.views-field-field-featured-image {
			float: left;
			margin-right: 1em;
		}
	}

  .panel-col-right {
    @include breakpoint(1024px) {
      max-width: 24%;
    }
  }

	.boxed {
		background-color: white;

		.pane-title {
			position: static;
			padding: 0;
			margin-bottom: 0.5em;
		}
	}

	.pane-page-actions {
		text-align: center;

		.action-links {
			display: inline-block;
			padding: 0;
		}
	}
  
  .content-main {
  	max-width: 960px;
  	background: #FFF;
  	margin: 1em auto;
  	position: relative;
  	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  	padding: 5%;
  	box-sizing: border-box;

  	&:before, &:after {
  	  content: "";
  	  position: absolute;
  	  z-index: -1;
  	  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  	  top: 50%;
  	  bottom: 0;
  	  left: 10px;
  	  right: 10px;
  	  border-radius: 100px / 10px;
  	}
  }

  .pane-node-field-immediate-release,
    .contact-title {
  	h4 {
  	  margin: 0;
  	}
  }

  .pane-node-field-upload-document {
    text-align: center;

    .field--name-field-upload-document {
      display: inline-block;
    }
  }

  .field--name-field-pr-about {
    margin: 2em 0;
  }

  .field--name-field-full-contact-details {
  	margin: 2em 0;
  	text-align: center;

  	h4 {
  	  margin: 0;
  	  display: inline-flex;

  	  &:after {
  		content: '\00a0';
  	  }
  	}
  }

  .field--name-field-featured-image {
  	width: 100%;

  	@include breakpoint(481px){
  	  margin: 0 1em 1em 0;
  	  width: 50%;
  	  float: left;
  	}

  	img {
  		width: 100%;
  	}
  }

  .field--name-field-contact-website .field__item {
    word-break: break-word;
  }

  .pane-node-title-field h1 {
  	line-height: 1.5;
  	text-align: center;
  }

  .pane-node-links {
  	text-align: center;

  	.links {
  		display: inline-block;
  	}
  }
}

.pane-press-releases2-panel-pane-5 {
  .view-content {
    display: flex;
    flex-flow: row wrap;
  }
  .views-row {
    display: inline-block;
    vertical-align: top;
    width: 230px;
    margin-right: 10px;
    margin-bottom: 0.5em;
    flex: 1 240px;
  }
  .views-field-field-featured-image {
    float: left;
    margin-right: 10px;
  }
  .views-field-published-at {
    font-size: 0.8em;
  }
}