@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../abstractions/_mixins.scss";

.node-type-client-audio-testimonial {
	#content .radix-selby-flipped .col-md-8 {
		background-color: white;
		border-color: #cccccc;
		border-style: solid;
		border-radius: 5px;
		border-width: 1px;
		padding: 1em;
		margin: 0 1em 1em 1em;

		@include breakpoint(992px) {
			width: calc(66.66666666666666% - 2em);
		}
		> .row:nth-child(2) {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: row wrap;
		}
	}

	.pane-node-title {
		text-align: center;
	}

	.pane-node-field-audio-testimonial {
		margin: 1em 0;
		text-align: center;
	}

	.field--name-field-image-testimonial img,
	.field--name-field-audio-testimonial audio {
		max-width: 100%;
	}
}

.node-type-client-written-testimonial {
	#content .radix-bryant-flipped .radix-layouts-content {
		background-color: white;
		border-color: #cccccc;
		border-style: solid;
		border-radius: 5px;
		border-width: 1px;
		padding: 1em;
		margin: 0 1em 1em 1em;

		@include breakpoint(992px) {
			width: calc(75% - 2em);
		}

		.pane-node-title {
			text-align: center;
		}
	}
}

.node-type-client-image-testimonial {
	.testimonial-content .radix-layouts-content {
		background-color: white;
		border-color: #cccccc;
		border-style: solid;
		border-radius: 5px;
		border-width: 1px;
		padding: 1em;
		margin: 0 1em 1em 1em;

		@include breakpoint(992px) {
			width: calc(75% - 2em);
		}

		.pane-node-title {
			text-align: center;
		}
	}

	.pane-node-field-image-testimonial {
		float: none;
		margin: 1em 0;
		text-align: center;
		width: 100%;
		max-width: 100%;
		z-index: 1;

		@include breakpoint(720px) {
			float: left;
			margin: 1em 1em 0 0;
			width: auto;
		}

		.field--name-field-image-testimonial img {
			max-width: 480px;
			margin: auto;
		}
	}
}

.node-type-client-video-testimonial {
	.testimonial-content .radix-layouts-content {
		background-color: white;
		border-color: #cccccc;
		border-style: solid;
		border-radius: 5px;
		border-width: 1px;
		padding: 1em;
		margin: 0 1em 1em 1em;

		@include breakpoint(992px) {
			width: calc(75% - 2em);
		}

		.pane-node-title {
			text-align: center;
		}
	}

	.pane-node-field-video-testimonial {
		float: none;
		margin: 1em 0;
		text-align: center;
		width: 100%;
		max-width: 100%;
		z-index: 1;

		@include breakpoint(720px) {
			float: left;
			margin: 1em 1em 0 0;
			max-width: 480px;
		}

		.field--name-field-video-testimonial {
			max-width: 480px;
			margin: auto;
		}

		.file-video {
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 25px;
			height: 0;

			iframe {				
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}
