@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../abstractions/_mixins.scss";

.view-card-cycles {
  .vscc-controls {
    text-align: center;
  }
  .vscc_controls_pause {
    display: inline-block;
  }

  .views-slideshow-controls-top {
    position: absolute;
    top: 7px;
    width: 100%;
    text-align: center;
    z-index: 10;
  }

  .views-slideshow-cycle-main-frame,
  .views-slideshow-cycle-main-frame-row {
    width: 100% !important;
  }

  .views-slideshow-cycle-main-frame-row-item {
    padding-top: 2em;
    text-align: center;
    margin: 0;
  }

  div.field-type-asin {
    border: 0px;
  }

  .field--name-field-amazon-book-listing img {
    width: 150px;
    height: auto;
  }
}

.view-display-id-card_slideshow,
.view-display-id-card_slideshow_clone {
  .vscc-controls {
    text-align: center;
  }
  .vscc_controls_pause {
    display: inline-block;
  }

  .views-slideshow-controls-top {
    position: absolute;
    top: 7px;
    width: 100%;
    text-align: center;
    z-index: 10;
  }

  .views-slideshow-cycle-main-frame,
  .views-slideshow-cycle-main-frame-row {
    width: 100% !important;
  }


  .views-slideshow-cycle-main-frame-row-item {
    padding-top: 2em;
    text-align: center;
    margin: 0;
  }

  div.field-type-asin {
    border: 0px;
  }

  .field--name-field-amazon-book-listing img {
    width: 150px;
    height: auto;
  }

  .file-video iframe {
    max-width: 100%;
  }
}

.pane-card-cycles-card-slideshow-clone {
  width: 100%;
  max-width: 350px;
  margin: auto;
}
