@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../abstractions/_mixins.scss";

.view-card-cycles {
  position: relative;
  
  .vscc-controls {
    text-align: center;
  }
  .vscc_controls_pause {
    display: inline-block;
  }

  .views-slideshow-controls-top {
    position: absolute;
    top: 7px;
    width: 100%;
    text-align: center;
    z-index: 10;
  }

  .views-slideshow-cycle-main-frame,
  .views-slideshow-cycle-main-frame-row {
    width: 100% !important;
  }

  .views-slideshow-cycle-main-frame-row-item {
    padding-top: 2em;
    text-align: center;
    margin: 0;
  }

  div.field-type-asin {
    border: 0px;
  }

  .field--name-field-amazon-book-listing img {
    width: 150px;
    height: auto;
  }
}

.view-display-id-card_slideshow,
.view-display-id-card_slideshow_clone {
  .vscc-controls {
    text-align: center;
  }
  .vscc_controls_pause {
    display: inline-block;
  }

  .views-slideshow-controls-top {
    position: absolute;
    top: 7px;
    width: 100%;
    text-align: center;
    z-index: 10;
  }

  .views-slideshow-cycle-main-frame,
  .views-slideshow-cycle-main-frame-row {
    width: 100% !important;
  }


  .views-slideshow-cycle-main-frame-row-item {
    padding-top: 2em;
    text-align: center;
    margin: 0;
  }

  div.field-type-asin {
    border: 0px;
  }

  .field--name-field-amazon-book-listing img {
    width: 150px;
    height: auto;
  }

  .file-video iframe {
    max-width: 100%;
  }
}

.pane-card-cycles-card-slideshow-clone {
  width: 100%;
  max-width: 350px;
  margin: auto;
}

.pane-card-cycles-card-blog .view-content {
  display: flex;
  flex-flow: row wrap;

  .views-slideshow-cycle-main-frame-row {
    display: flex;
    flex-flow: row wrap;
  }

  .views-row {
    flex: 1 30%;
    margin: 0.5em;
    padding: 0;
    text-align: center;

    @include breakpoint(375px) {
      min-width: 300px;
      flex: 1 1 300px;
    }

    .panel-display {
      padding: 0;
    }
    .panel-flexible {
      padding: 1em;
    }

    h2 {
      margin: 0.5em 0 0 0;
      text-align: center;
    }
    h3 {
      margin: 0 0 0.5em 0;
      text-align: center;
    }

    .col-1, .col-2 {
      width: 100%;
    }
    .col-1 {
      padding: 1em;
      text-align: center;
    }
    .col-2 {
      padding: 0 1em 1em 1em;
    }

    .pane-node-field-card-image {
      text-align: center;
    }

    .field--name-field-amazon-book-listing {
      text-align: center;
    }
  }     
}
